<div class="cta-header-section">
  <p class="m-0">
    <strong>
      <%= text %>
    </strong>
  </p>
  <div class="m-3">
    <%= erb :'component/_contact_banner_button', locals: {text_button: "¿Conversamos?", style_class: 'btn my-primary-button' }%>
  </div>
</div>
