<div class="blackBg">
	<div class="header-small header-filosofia"></div>
	
	<div class="header-description">
		<h1 class="headerTitle"><%=t("nuestra_filosofia.title")%></h1>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="row">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h3><%=t("nuestra_filosofia.title")%></h3>
			<%=t("nuestra_filosofia.txt")%>
			<div class="vSpace"></div>
			<div class="vSpace"></div>
		</div>
	</div>
</div>