$primary-blue: #68CEF2;
$secondary-blue: #00BBEE;
$primary-yellow: #FFE600;
$secondary-yellow: #FCDC2D;
$primary-red: #EF5662;
$secondary-red: #EA2A46;
$primary-green: #43B045;
$secondary-green: #0DAC52;
$black: #333333;
$grey: #B3B3B3;
$white: #FFFFFF;

.mainContent h1,
.mainContent h2,
.mainContent h3,
.mainContent h4 {
  color: #337ab7; }

#blog-hero{
  max-height: 30vh;
  height: calc(20vh - 100px);
  margin-top: 100px;
}

.blog-home {
  font-family: "degular",sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 32px; }

.blog-title {
  color: #337ab7;
  font-family: "degular",sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 0;
}

.blog__body{
  a{
    color: $secondary-blue !important;
    font-weight: bold !important;
  }
  a:hover{
    color: $primary-blue;
  }
}

.blog {
  position: relative;

  > .container {
    padding-top: 3em;
  }

  .blog__article h1 {
    font-size: 26px;
    margin-bottom: 1em;
  }

  h2 > a {
    font-size: 26px;
    margin-bottom: 1em;
    color: #337ab7;
  }
  h2 {
    font-size: 26px;
    margin-bottom: 1em;
    color: #337ab7;
  }

  h3 {
    font-size: 22px;
    margin: 1.5em 0 1em 0;
  }

  h4 {
    font-size: 20px;
    margin-top: 1.5em;
  }

  p, li {
    font-size: 16px;
    line-height: 2;
    color: #010101;
  }

  &__data {
    display: flex;
    margin-bottom: 1.5em;
    color: #666;
  }

  &__name {
    margin-right: 15px;
  }

  &__article {
    border-bottom: solid 1px #ccc;
    padding-bottom: 4em;
    margin-bottom: 4em;

    &:last-child {
      border: none;
      margin: 0;
    }

    figure {
      margin-bottom: 2em;

      img {
        margin-bottom: 5px;
      }

      figcaption {
        text-align: center;
        color: #747474;
        font-size: 12px;
      }
    }

    .btn.btn-kleer {
      font-family: 'Raleway', sans-serif;
      text-transform: inherit;
    }
  }

  &__abstract,
  &__body  {
    margin-bottom: 1.5em;
  }

  &.blog-uniq {
    border: none;
  }
}


@media(max-width:768px) {
  #blog-hero{
    height: auto;
  }

  .header-blog .container {
    width: 97%;
  }

  .blog .container.contenedor-generico {
    padding-left: 0;
    padding-right: 0;
  }
  .header-blog.header-small {
    height: 200px;

    &:before {
      height: 100px;
    }
  }
  .blackBg.blackBg-small {
    height: 200px;
  }

  .blog .container {
    h1 {
      font-size: 22px;
      line-height: 1.5;
    }

    h2 {
      font-size: 18px;
    }

    p, li {
      font-size: 16px;
    }
  }
}

///NEW VERSION
#blog-feed-hero{
  background-color: $primary-blue ;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1, h2{
    z-index: 1;
  }
}

.blog-feed__search-box{
  background-color: $white;
  z-index: 2;
  position: absolute;
  bottom: -50px;
  height: 120px;
  width: 80%;

  box-shadow: 0px 18px 76px rgba(51, 51, 51, 0.1);
  border-radius: 16px;
}

.search-box__container{
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;

  div{
    display: flex;
    align-items: center;
  }
}

.blog-hero__rustic-asterisk{
  left: 5%;
  bottom: -20px;
}

.blog-hero__yellow_middle_circle{
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: 0;
}

.blog-hero__green-bean-sg{
  position: absolute;
  top: 15%;
  right: 10%;
  z-index: 0;
}

#blog-feed-list{
  background-color: $white;
  position: relative;

  .subtitle{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}

.blog-feed-list__red-triangle{
  bottom: 0;
  left: -50%;
  height: 200px;
  z-index: 0;
}


//tablet
@media screen and (max-width:992px){
  .blog-feed__search-box{
    height: 150px;
  }
}

//mobile
@media screen and (max-width:420px) {
  #blog-feed-list{
    h2{
      text-align: center;
    }
  }

  .blog-feed__search-box{
    width: 90%;
    left: 5%
  }

  .blog-hero__yellow_middle_circle {
    top: 5px;
    left: 10px;
    height: 80px;
  }

  .blog-hero__green-bean-sg{
    bottom: -10px;
    top: auto;
    right: -40px;
  }
}

//BLOG DETAIL

#landing-blog-hero{
  padding: 0 8%;
  //max-width: 1700px;
  margin: 100px auto 70px auto;

  h1{
    font-weight: 600;
    font-size: 56px;
    line-height: 64px;
  }

}


.go-back-button{
  margin-bottom: 32px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  img{
    transform: rotate(90deg);
    margin-bottom: 5px;
  }
}

.landing-blog-hero__img-container{
  width: 100%;

  img{
    width: 100%;
    max-height: 550px;
    object-fit: cover
  }
}

.landing-blog-hero__title-container{}

.landing-blog-hero__info{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $grey;
  margin: 15px;
}

.landing-blog-hero__summary{
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 15px;
  p{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'pnum' on, 'lnum' on;

  }
}

#landing-blog-body{
  width: auto;
  //max-width: 1700px;
  //margin: 50px auto 50px auto;



  h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  h3{
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .blog__body{
    margin-left: auto;
    margin-right: 10%;
    max-width: 1000px;
    width: calc(80% - 440px);
    text-align: justify;
    text-justify: inter-word;
  }
}

.up-body{
  margin-top: -440px;
}


#landing-blog-content-table{
  width: 316px;
  height: 430px;
  overflow-y: auto;
  box-shadow: 0px 18px 76px rgba(51, 51, 51, 0.1);
  border-radius: 16px;
  background-color: $white;
  margin-top: 120px;
  margin-left: 10%;
  padding: 30px;

  .title{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $secondary-blue;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    list-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  li{
    color: $black !important;
  }

}

.fixed-table{
  position: fixed;
  top: 120px;
  left: 10%;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

//tablet
@media screen and (max-width:992px){
  .blog__body{
    margin: 30px !important;
    width: 90% !important;
  }

  #landing-blog-content-table {
    width: 316px;
    height: 430px;
    overflow-y: auto;
    margin: 30px auto !important;
  }

  .fixed-table{
    position: static !important;
  }

  .up-body{
    margin-top: 0 !important;
  }

}

//mobile
@media screen and (max-width:420px) {
  .blog__body{
    margin: 30px !important;
    width: 80% !important;
  }
}


