@import 'home';
@import 'resources';
@import 'training';
@import 'blog';
@import 'news';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

$primary-blue: #68CEF2;
$secondary-blue: #00BBEE;
$primary-yellow: #FFE600;
$secondary-yellow: #FCDC2D;
$primary-red: #EF5662;
$secondary-red: #EA2A46;
$primary-green: #43B045;
$secondary-green: #0DAC52;
$black: #333333;
$grey: #B3B3B3;
$white: #FFFFFF;

$blue-kleer: #7bcaea;
$soft-grey: #D9D9D9;
$grey-card: #eaeaea;

/* Global */
html{
  overflow-x: hidden;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: $white;
  overflow-x: hidden;
  height: 100%;
}


h1{
  font-family: "degular",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 76px;
}

h2{
  font-family: "degular-text",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 64px;
}

h3{
  font-family: "degular-text",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

h4{
  font-family: "degular-text",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

h5{
  font-family: "degular-text",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

h6{
  font-family: "degular-text",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

p{
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

a{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-decoration: none;
}

a:hover{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-decoration: none;
}

a:active{
  background-color: $secondary-blue;
}

img {
  max-width: 100%;
}


.my-primary-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  height: 52px;
  width: auto;
  max-width: 300px;
  background: $primary-blue;
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  border: none;
}

.my-primary-button:hover{
  box-shadow: 0px 8px 26px rgba(51, 51, 51, 0.2);
  border-radius: 100px;
}

.my-secondary-button{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 52px;
  background: $white;
  border-radius: 100px;
  border: $primary-blue 2px solid ;
}

.my-secondary-button:hover{
  border: 2px solid $secondary-blue;
  box-shadow: 0px 8px 26px rgba(51, 51, 51, 0.15);
  border-radius: 100px;
}


.switch{
  width: 45px !important;
  height: 25px;
}

.btn-center-container{
  width: 100%;
  display: flex;
  justify-content: center
}

.desktop_figure{
  position: absolute;
}

.mobile_figure{
  display: none;
}

.hidden-element{
  display: none;
}

@media screen and (max-width: 992px){
  .desktop_figure{
    display: none;
  }

  .mobile_figure{
    position: absolute;
    display: flex !important;
  }
}

@media screen and (max-width:420px) { //sm size
  a{
    font-size: 14px;
  }

  h1{
    font-size: 40px;
    line-height: 48px;
  }
  h2{
    font-size: 32px;
    line-height: 40px;
  }
  h3{
    font-size: 24px;
    line-height: 28px;
  }
  h4{
    font-size: 20px;
    line-height: 26px;
  }
  h5{
    font-size: 18px;
    line-height: 24px;
  }

  .desktop_figure{
    display: none;
  }

  .mobile_figure{
    position: absolute;
    display: flex;
  }

  .only-desktop{
    display: none !important;
  }

  .social-container{
    position: absolute;
    bottom: 20px;
  }
}

//COMPONENTS
.hero{
  max-height: 150vh;
  height: calc(100vh - 100px);
  margin-top: 100px;
}

.hero__text{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.hero__img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 5%;
}
.hero__img{
  max-width: 90%;
}

//navbar
.navbar {
  max-width: 100vw !important;
  border: none;
  background: $white !important;
  min-height: 100px !important;
  padding: 25px 7%  25px 7%;

  color: $black;

  a{
    color: $black
  }


  .dropdown-menu {
    border: none;
    padding: 20px 24px;
    box-shadow: 0px 18px 76px rgba(51, 51, 51, 0.1);
    border-radius: 8px;

    a:active{
      background-color: $secondary-blue;
    }
  }

  .navbar-nav>li>.dropdown-menu {
    background-color: $white;
  }
  .dropdown-submenu > .dropdown-menu {
    background-color: $white;
  }

  .dropdown {
    .show {
      color: $secondary-blue !important;
      font-weight: 700;
    }
  }
}

.navbar-scrolled{
  box-shadow: 0px 18px 76px rgba(51, 51, 51, 0.1);
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.navbar-brand {
  width: 115px;
  height: 50px;
  padding-top: 9px !important;

  img {
    width: 100%;
    margin: auto 0 auto 0 !important;
  }
}

.navbar-fixed-top {
  border-width: 0;
  z-index: 999;
}


@media screen and (max-width:992px){
  //bootstrap edit
  .navbar-collapse{
    height: calc(100vh - 100px);
  }
   .navbar-content{
     max-height: 100vh;
     ul{
       margin-top: 20px;
     }
     li{
       margin: 16px 0 16px 0;
     }

     .social-media{
       a{
         font-size: 18px;
         color: $secondary-blue;
       }

       img{
         color: $secondary-blue;
       }
     }
   }
}

.social-media{
  width: 150px;
}

.social-media__list{
  margin: auto 0 auto 0 !important;
  padding: 0 !important;

  li:hover{
    height: 120%;
  }
}

.icon-social{
  height: 18px;
}

.icon-social:hover {
  height: 20px;
}

//whatsapp button
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.whatsapp-button{
  display: flex;
  align-items: center;
  justify-content: center;

  img:hover{
    height: 70%;
  }
}
.my-float{
  margin-top:16px;
}

/* Footer */

footer {
  //max-height: 350px;
  padding-top: 78px;
  overflow: visible;
  background: $primary-blue;
  margin-bottom: 0 !important;
  z-index: 50;
}

.footer__body{
  margin: 0 8% 78px 5%;
  justify-content: center;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.footer-bottom {
  background: $black;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  bottom: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  a {
    color: #fff;
  }
}

.footer-botom__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $white;
  z-index: 50;

  li{
    margin-left: 15px;
  }
}

@media screen and (max-width:420px) {
  footer{
    padding-top: 10px;
  }
  .footer__body{
    margin: 10px;
    padding: 30px 20px;
  }
}


//course card
.course-card{
  width: 100% !important;
  max-width: 250px !important;
  padding: 24px 24px 32px;
  gap: 32px;
  isolation: isolate;
  box-shadow: 0px 18px 76px rgba(51, 51, 51, 0.1);
  border-radius: 8px;
}

.course-card__title{}

.course-card__categories{
  color: $grey;
  font-family: 'Degular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.course-card__body{
  height: 300px;
  padding: 0;
}

.course-card__subtitle{
  font-size: 14px;
}

.course-card__image-container{}

.course-card__image{
  height: 140px;
  width: 200px;
}

.course-card__flags{
  position:absolute;
  top:10px;
  right: 20px;
  width: 100%;
  display: flex;
  justify-content: end;

  div{
    border-radius: 4px;
    background-color: $primary-yellow;
    width: 71px;
    height: 29px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 60%;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
}


.course-card__items{
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-card__item{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
.icon-card{
  height: 18px;
}
//bootstrap edited
.carousel-control-next-icon{
  background-image: url("../img/view_figures/arrow.svg");
  transform: rotate(-90deg)
}
//bootstrap edited
.carousel-control-prev-icon{
  background-image: url("../img/view_figures/arrow.svg");
  transform: rotate(90deg)
}

//Generic cards

.generic-card{

}

.generic-card__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #337ab7;
  margin: 10px 0;
}

.generic-card__description{
  font-size: 10pt;
  background: $grey-card;
  min-height: 470px;
}

.generic-card__list{
  list-style-type: none;
  margin: 0;
  padding: 0;

  li{
    margin-top: 10px;
  }
}

.generic-card__button{
  background-color: #7bcaea;
  border: none;
  color: #000;
  border-radius: 50px;
  font-family: 'Mali', cursive;
  padding: 6px 15px;
  text-transform: uppercase;
}

.button-container{
  width: 100%;
}

.share-buttons {
  display: flex;
  justify-content: center;

  .share {
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -999em;
    padding: 0;
    margin: 2rem 10px;
    &.share-facebook {
      background: url('/img/icons/share-facebook.png') no-repeat;
    }
    &.share-twitter {
      background: url('/img/icons/share-twitter.png') no-repeat;
    }
    &.share-linkedin {
      background: url('/img/icons/share-linkedin.png') no-repeat;
    }
  }
}

