.podcasts-hero {
  position: relative;

  .carousel-inner {
    padding-top: 80px;
    .title {
      position: absolute;
      top: 80px; // Adjust as needed
      left: 140px; // Align with left edge of parent container
      width: 100%; // Full width to center text
      padding-left: 15%; // Align with carousel__text
      transform: none;
      z-index: 10; // Ensure it's above other elements
      // background: rgba(255, 255, 255, 0.8); // Optional: Add background to improve readability
      padding: 5px 5px;
      border-radius: 10px;
      // border: 2px solid red; // Debugging border    
    }
  }
  h1 {
    font-size: 48px;
    text-align: left;
  }
  h2 {
    font-size: 48px;
    font-weight: bold;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; // Adjust the gap as needed
    padding-bottom: 10px;
  }

  a.primary-button {
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    height: 52px;
    width: auto;
    max-width: 250px;
    background: #68CEF2;
    border-radius: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    border: none; 

    &:hover {
      box-shadow: 0px 8px 26px rgba(51, 51, 51, 0.2);
      border-radius: 100px;
      color: #333333 !important;
      line-height: 20px;
      font-size: 18px; }
  }
}

@media (max-width: 990px) {
  .podcasts-hero {
    .carousel-inner {
      padding-top: 140px;
      .title {
        left: 40px;
      }
    }
  }
}
.recent-episodes {
  padding: 2rem;

  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 40px;
    margin-left: 80px;
  }
  .episodes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .episode-card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin: 1rem;
      padding: 1rem;
      width: 300px;

      .image-container{
        position: relative;
        padding-bottom: 24px;
        img{
          aspect-ratio: 7 / 4;
          width: 100%;
          border-radius: 8px;
          object-fit: cover
        }
          .podcast-label {
            position:absolute;
            top:-10px;
            right: -20px;
            width: 100%;
        
            border-radius: 4px;
            background-color: $primary-yellow;
            max-width: 120px;
            height: 29px;
            margin-left: 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); // Add shadow to the left and bottom
          }
        }
    
      h3 {
        color: #333333;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 8px;
      }

      p {
        font-size: 0.9rem;
      }

      a {
        color: #007bff;
        text-decoration: none;
        margin-right: 0.5rem;
      }
      i {
        font-size: 2em;
        margin-left: 0.5rem;
      }
    }
  }
}
