$primary-blue: #68CEF2;
$secondary-blue: #00BBEE;
$primary-yellow: #FFE600;
$secondary-yellow: #FCDC2D;
$primary-red: #EF5662;
$secondary-red: #EA2A46;
$primary-green: #43B045;
$secondary-green: #0DAC52;
$black: #333333;
$grey: #B3B3B3;
$white: #FFFFFF;
$celeste: #E8F8FD;

.resources-hero{
  background-color: $celeste;
  margin-top: 100px;
  padding: 30px 60px 70px 60px;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;

  h1{
    margin-bottom: 40px;
    max-width: 1000px;
    z-index: 3;

  }
  h2{
    z-index: 3;
    max-width: 1000px;
  }

  .resources-hero__yellow-circle{
    bottom: 0;
    left: 0;
  }

  .resources-hero__blue-circle{
    right: 0;
    bottom: 20%;
  }
}

.resources-list{
  margin-top: 100px;
}
