$celeste: #E8F8FD;
$primary-blue: #68CEF2;
$secondary-blue: #00BBEE;
$primary-yellow: #FFE600;
$secondary-yellow: #FCDC2D;
$primary-red: #EF5662;
$secondary-red: #EA2A46;
$primary-green: #43B045;
$secondary-green: #0DAC52;
$black: #333333;
$grey: #B3B3B3;
$white: #FFFFFF;

//Landing service
.subservice-container{

  .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: 5%;
  }

  .info-subcontainer{
    //display: flex;
    //justify-content: space-between;
  }
  .takeaways{
    position: relative;
    width: 90%;
    margin: 5%;
    border-radius: 30px;
    background-color: $celeste;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .takeaways__red-bean{
        bottom: -30px;
        left: -40px;
    }
  }
  .recipients{
    position: relative;
    width: 90%;
    margin: 5%;
    border-radius: 30px;
    background-color: $primary-blue;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .recipients__green-bean{
        top: -40px;
        right: -70px;
    }

    .recipients__yellow-bean{
        bottom: -30px;
        left: -40px;
    }
  }
}

.subservice-item-container{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.subservice-item{
  background-color: $primary-yellow;
  width: 23%;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-content: center;
  align-items: center;

  h3{
    color: black !important;
  }

  a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
}

@media screen and (max-width:420px) {
  .subservice-item-container{
    h2{
      margin: 5%;
    }
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subservice-item{
    width: 80%;
    margin-bottom: 30px;
  }
}
