$celeste: #E8F8FD;
$primary-blue: #68CEF2;

#training-hero{}

#training-info{
  height: 100vh;
  display: flex;
  align-items: center;
}

.training-info__container{
  border-radius: 16px;
  background-color: $celeste;
  padding: 80px 10%;
}

#training-courses{}

.courses-filters{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px 15%;
}

.courses-filters__tag{
  border-radius: 39px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 10px;
  border: 1px solid $primary-blue;
  margin: 10px;
}

.courses-filters__tag--selected{
  background-color: $primary-blue;
}

.courses-filters__tag--unselected{
  background-color: white;
}

