<section id="agenda-hero" class="hero-medium">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero__text">
        <h1 class="mb-5" style="position: relative">
          <%= t('agenda.hero.title') %>
        </h1>
        <% unless t('agenda.hero.subtitle').include? 'translation missing' %>
          <h2><%= t('agenda.hero.subtitle') %></h2>
        <% end %>
        <p><%= t('agenda.hero.text') %></p>
      </div>
      <div class="col-md-6 hero__img-container">
        <img src="<%= cdn('agenda.png') %>" class="hero__img agenda-hero__image" alt="Agenda" loading="lazy"/>
      </div>
    </div>
  </div>

</section>
