<section class="hero" id="agenda-hero">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero__text">
        <h1>Agenda de cursos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet commodi corporis cumque dignissimos eligendi, expedita, iusto magni maiores odio officia, pariatur quas quasi quo reprehenderit repudiandae sit totam voluptatibus?</p>
      </div>
      <div class="col-md-6 hero__img-container">
        <img src="" class="hero__img">
      </div>
    </div>
  </div>
</section>
