<section id="agenda-hero" class="hero-medium">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero__text">
        <H1 class="mb-5" style="position: relative">
          Agenda
          <img
            src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_line2.svg"
            class="desktop_figure agenda-hero__rustic-line"
          >
        </H1>
        <p>Nuestra programación de cursos abiertos al público.</p>
      </div>
      <div class="col-md-6 hero__img-container">
        <img src="/img/training/agendaprov.png" class="hero__img" alt="Agenda"/>
      </div>
    </div>
  </div>

  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_circle2.svg"
    class="desktop_figure agenda-hero__yellow-circle"
  >
</section>
