<%
  events = @events.select{|e| not e.date.to_s == ''}
%>

<div class="container mt-5">
  <% events.each do |event| %>
    <%= erb :'training/agenda/event_item', locals: {event: event}%>
  <% end %>
</div>
