<%
  events = @events.select{|e| not e.date.to_s == ''}
%>

<div class="container mt-5">
  <% events.each do |event| %>
    <%= erb :'component/_schedule_item', locals: {event: event, with_name: true}%>

  <% end %>
</div>
