.vagrant
.idea
.kate*
*.gem
*.rbc
.bundle
.env
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

.DS_Store
.ruby-version
webrat.log

public/.DS_Store
public/*.pdf
public/img/.DS_Store
public/app/.sass-cache
public/app/css/kleer.css.map
website.env
