<section id="service-description" class="container service-description">
      <div class="row">
        <div class="col-md-6">
          <%=@markdown_renderer.render( @service.description )%>
        </div>
        <div class="col-md-6 ps-5 pe-5">
          <%if @service.side_image.to_s == ''%>
            <img src="/img/generics/description_generic.png"/>
          <% else %>
            <img src="<%= @service.side_image%>"/>
          <% end %>
        </div>
      </div>
  <div class="subservice-item-container mb-5">
    <% if @service.sub_services %>
        <% @service.sub_services.each.with_index do |sub_service, index| %>
        <% if index == 3 && @service.sub_services.length > 4  %>
          <break class="break"></break>
        <% end %>
          <%= erb :'services/_subservice_item',
                  locals: {name: sub_service["name"],
                           icon: sub_service["icon"],
                           theme: @service.color_theme,
                           summary: sub_service["summary"],
                           href: "##{sub_service['name'].gsub(/( )/, '_').downcase!}"} %>

        <% end %>
    <% end %>
  </div>
</section>
