<section id="course-hero">
  <div class="row h-100">
    <div class="col-md-9 course-hero__text">
      <h1><%= @service.name %></h1>
      <h2 class="hero-description"><%= @service.subtitle %></h2>
    </div>
    <div class="col-md-3 course-hero__button">
      <a href="#newsletter-subscription">
        <strong>Contáctanos</strong>
      </a>
    </div>
  </div>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_oval.svg" class="course-hero__yellow-oval" loading="lazy"/>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_bean.svg" class="course-hero__red-bean" loading="lazy"/>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_worm.svg" class="course-hero__rustic-worm" loading="lazy"/>
</section>
