<section class="container subservice-container">
  <h2>Innovation jump start</h2>
  <div class="row mt-5 mb-5">
    <div class="col-md-5 description">
      El equipo de innovación se incorporará a la metodología de innovación de la empresa, a través de un proceso de capacitación y acompañamiento, que le permita desarrollar las habilidades y competencias necesarias para la generación de ideas y proyectos de innovación.
    </div>
    <div>
      <img src=""/>
    </div>
  </div>
  <div class="info-subcontainer">
    <div class="takeaways">
      El equipo incorporará herramientas de Descubrimiento de producto como el Mapas de empatía (Empathy map), Etnografía rápida (Rapid Ethnography), Mapa de oportunidades y soluciones (Opportunity Solution Tree), técnicas de experimentación y prototipado, que le permita una mayor conexión con sus clientes y la capacidad de detectar y desarrollar oportunidades realmente valiosas con conocimiento validado.
      Adicionalmente, para gestionar la dinámica y flujo de información interna y externa del equipo, se incorporará Scrum y Kanban.
    </div>
    <div class="recipients">
      Empresas que se proponen explorar el desarrollo de un nuevo producto o servicio.
      Equipos que tienen desafíos de creación de nuevos modelos de negocio.
      Empresas que tienen un reto de innovación y buscan una forma de resolverlo
    </div>
  </div>
</section>

