<section class="container subservice-container mt-5">
  <h2>
    <%= sub_service["name"] %>
  </h2>
  <div class="row mt-5 mb-5">
    <div class="col-md-6 description">
      <%= sub_service["description"] %>
    </div>
    <div>
      <img src=""/>
    </div>
  </div>
  <div class="info-subcontainer">
    <div class="takeaways">
      <%= sub_service["takeaways"] %>
      <img
        class="desktop_figure takeaways__red-bean"
        src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_bean.svg">
      <img src="">

    </div>
    <div class="recipients">
      <%= sub_service["recipients"] %>
      <img
        class="desktop_figure recipients__green-bean"
        src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_bean_sg.svg" />
    </div>
  </div>
</section>

