<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("recursos.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">
<h2><img src="/img/personajes/estrellita_small.png" alt="Primeros pasos en Agilidad" height=70px></a> Primeros pasos en Agilidad</h2>
  <div class="col-md-8 no-hpadding">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/e8KO4N2SGcU" title="YouTube video player" 
    rameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>¿Qué es la agilidad?</h3>
    <p>Es un modo de pensar y actuar con foco en la capacidad de adaptación, los resultados y la satisfacción de las personas.</p>
    <h3>Los 4 elementos de la agilidad</h3>
    <p>Los elementos que componen al corazón de la agilidad son cuatro</p>
    <ol><li>Colabora</li>
    <li>Entrega</li>
    <li>Reflexiona y</li>
    <li>Mejora</li>
    </ol>
    <p>La propuesta es colaborar para entregar valor y reflexionar para mejorar.</p>
    <p>Muchas veces las organizaciones y las personas se plantean objetivos en forma de deseos a lograr, pero no siempre encuentran un camino de aprendizaje para alcanzar esos objetivos de manera sostenible.</p>
    <h3>Un ejemplo concreto</h3>
    <p>Por ejemplo, Lucía tiene un objetivo expresado como deseo:</p>
    <p><i>“Quiero que junto a mi equipo seamos más productivos y felices”</i></p>
    <p>Pero cómo sabe Lucía que ha logrado su objetivo, cuál es la mejor manera para llegar a él.</p>
    <p>Podría plantearse esas preguntas desde el corazón de la agilidad: </p>
    <img src="/img/recursos/corazon_agilidad_tiny.png" class="img-rounded">

    <h3>El corazón de la agilidad</h3>
    <ul>
    <li>Colabora: cuáles son las tareas complejas en las que podríamos trabajar juntos como equipo.</li>
    <li>Entrega: qué es lo más valioso que los clientes esperan de este equipo.</li>
    <li>Reflexiona: cuando nos va bien, cuáles son las razones; y en lo que nos fue mal, cuáles fueron las razones y cómo hacer para que no nos vuelva a pasar.</li>
    <li>Mejora: cuál será el próximo paso en mejorar nuestro proceso de trabajo</li>
    </ul>
    <h3>Conclusión</h3>
    <p>De esta manera, el corazón de la agilidad es a la vez muy simple y muy poderoso para responder preguntas y ayudarnos a tomar la acción.</P>
  </div>

    <div class="col-md-3">

        <div class="well well-small">
        <a href="https://academia.kleer.la/p/agilidad-y-scrum" name="Agilidad y Scrum"><img 
        src="https://kleer-images.s3-sa-east-1.amazonaws.com/poster+de+scrum.jpg" class="img-rounded"></a>
               <h4><a href="https://academia.kleer.la/p/agilidad-y-scrum">Introducción a la Agilidad y Scrum</a></h4>
                <p>Curso gratuito y a tu propio ritmo.</p>
        </div>

        <div class="well well-small">        
               <h4><a href="/es/cursos/268-proyectos-agiles-con-scrum-(online)">Proyectos Agililes con Scrum</a></h4>
                <p>Curso para realizar proyectos y productos.</p>
        </div>

        <div class="well well-small">
               <h4><a href="/es/cursos/337-lean-y-kanban-en-accion-(online)">Lean y Kanban en acción</a></h4>
                <p>Curso para mejorar tus servicios y el día a día operativo.</p>
        </div>

        <div class="well well-small">
            <a href="/es/recursos" name="recursos y materiales"><img src="/img/recursos/guias-agiles.jpg" class="img-rounded"></a>
               <h4><a href="/es/recursos">Recursos y Materiales</a></h4>
                <p>Más recursos y materiales disponibles en el sitio</p>
        </div>
    </div>
</div>
