<!-- Button trigger modal -->
<button type="button" class="share-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img src="/app/img/icons/Share.svg" />
</button>

<!-- Modal -->
<div class="modal fade modal-share" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h3></h3>
        <div>
          <img />
          <img />
          <img />
          <img />
        </div>
        <div>

        </div>
      </div>
    </div>
  </div>
</div>