<section id="resources-hero" class="resources-hero">
  <div class="resources-hero__container">
    <h1><%= t("resources.title") %></h1>
    <h2 class="hero-description"><%= t("resources.subtitle") %></h2>
  </div>
  <%= erb :'component/sections/_search_box'  %>
</section>
