<%=erb :'component/_generic_hero', locals: {title: t("resources.title"), subtitle: t("resources.subtitle")} %>
<%#=erb :'resources/hero' %>

<div class="container">
  <div class="row">
      <%=erb :'resources/resources' %>
  </div>
</div>

