<%# if session[:new] %>
  <%=erb :'resources/hero' %>
  <section class="container resources-list">
    <h2 id="search-title" class="hidden-element"></h2>
    <% if session[:locale] == 'es' %>
      <%= erb :'component/_reactive_pager' %>
    <% end %>

    <div>
      <%=erb :'resources/list' %>
    </div>

    <% if session[:locale] == 'es' %>
      <%= erb :'component/_reactive_pager'%>
    <% end %>


  </section>
<%# else %>
  <%#=erb :'component/_generic_hero', locals: {title: t("resources.title"), subtitle: t("resources.subtitle")} %>
<!--  <div class="container">-->
<!--    <div id="resource-list" class="row">-->
      <%#=erb :'resources/resources' %>
<!--    </div>-->
<!--  </div>-->
<%# end %>

<% if session[:locale] == 'es' %>
  <script src="/js/resources_filter.js"></script>
<% end %>





