<div class="container">
  <div class="row" id="resource-list">
    <%
      locale = session[:locale].to_sym
      @resources.filter { |r| r.lang == locale}.each do |resource|
        @fb_share = @tw_share = @li_share = ''
        @kleer_share_url = "https://www.kleer.la/#{locale}/recursos##{resource.slug}"
        unless resource.share_text.to_s == ''
          share_url = @kleer_share_url
          share_url = resource.share_link unless resource.share_link.to_s == ''

          @fb_share = encoded_text = URI.encode_www_form(
            u: share_url,
            quote: resource.share_text,
            hashtags: resource.tags
          )

          @tw_share = encoded_text = URI.encode_www_form(
            text: "#{resource.share_text} #{share_url}",
            hashtags: resource.tags
          )
          # https://www.linkedin.com/sharing/share-offsite/?url=[your URL]&summary=[your post text]&source=[your source]&hashtags=[your hashtags separated by commas]

          @li_share = encoded_text = URI.encode_www_form(
            url: share_url,
            summary: "#{resource.share_text} #{share_url}",
            source: @kleer_share_url,
            hashtags: resource.tags
          )
        end
        @is_book = false # remove when refactor recursos2022 to recursos


    %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <%=erb :'component/cards/_resource_card', locals: {resource: resource} %>
      </div>
    <%end%>
  </div>
</div>
