<%= erb :'component/heros/_generic_hero', locals: {title: 'La Gerencia de TI EPM se transforma culturalmente', subtitle: ''} %>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Cómo acompañamos su transformación ágil</h2>

			<h3>Necesidad</h3>
			<p>Empresas Públicas Medellín (EPM), una compañía colombiana que brinda servicios de agua, gas y energía a más de 3,5 millones de usuarios, buscaba transformar la forma de trabajo de la Gerencia de TI y sus aliados, hacia una <b>cultura más ágil</b>.</p>

			<h3>Búsqueda de solución</h3>
			<p>EPM contactó a Kleer para ayudarlos a emprender la <b>transformación organizacional</b> de manera ágil y sostenible. Hemos trabajado con distintos equipos y líderes de la Gerencia de TI de EPM a lo largo de <b>5 años</b>. Este trabajo comprendió una serie de <b>capacitaciones participativas</b> en metodologías ágiles, seguidas de sesiones de <b>coaching</b> a líderes y <b>acompañamiento</b> de equipos y áreas en sus tareas diarias, acelerando la mejora de sus dinámicas y colaborando en el <b>cambio cultural</b>.
Parte del acompañamiento consistió en facilitar sus reuniones, alentar la <b>autonomía</b> de los equipos en el camino de <b>mejora continua</b> y definir <b>indicadores</b> de resultado para conocer el avance de la transformación. También colaboramos con la <b>planificación</b> y algunas <b>tareas técnicas</b>.</p>
			<p>Al día de hoy, seguimos acompañando a EPM como aliados de la Gerencia de TI en diversas líneas de trabajo.</p>

			<h3>Resultado</h3>
			<p>A partir del trabajo de los primeros 6 meses, ya se percibieron <b>mejores tiempos de atención y de entrega</b> de soluciones, incrementando la <b>satisfacción de sus clientes internos</b>. Con el acompañamiento, los equipos asimilaron y pusieron en práctica una <b>cultura de trabajo</b> transparente y empoderadora, que se trasladó al contexto de negocio de cada equipo y a gran parte de la <b>Gerencia de TI</b>, impactando positivamente forma de relacionarse con <b>las áreas de negocio y los proveedores</b> de servicios de desarrollo de software.</p>
			<p>Durante el primer y el segundo año de trabajo, cada vez más equipos mostraron que la cultura ágil ya se reflejaba en sus <b>hábitos</b>, consecuencia de un pilar estratégico del área: la <b>sostenibilidad</b>. También se trabajó en la colaboración entre áreas y los equipos, lo cual disminuyó el <b>trabajo en silos</b> que se veía años atrás.</p>
			<p>Uno de los resultados más visibles es la creación temprana de dos <b>equipos internos de agilistas</b>, agentes de cambio que se encargan de seguir fomentando y manteniendo los principios y las prácticas que el equipo de Kleer les acercó inicialmente.</p>

			<h3>¿Cómo lo logramos?</h3>
			<p>Servicios brindados:</p>
				<ul>
					<li>Capacitaciones de Agile y Scrum.</li>
					<li>Capacitaciones de Lean y Kanban.</li>
					<li>Capacitaciones técnicas de Desarrollo Ágil de Software.</li>
					<li>Sesiones de coaching y mentoring a líderes y equipos.</li>
					<li>Facilitación de reuniones (inicio de proyectos y retrospectivas de equipo).</li>
					<li>Rediseño de procesos y estructuras de trabajo.</li>
					<li>Facilitación del PETI: Plan Estratégico de TI a corto, mediano y largo plazo.</li>
				</ul>

			<p>Testimonios de Claudia Toscano Vargas, profesional de la Dirección de Soluciones TI en Empresas Públicas Medellín:</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/OQukyDb4tuw" frameborder="0" allowfullscreen></iframe>
      </div>

			<p>&nbsp;</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/VFRxSFGFpIw" frameborder="0" allowfullscreen></iframe>
      </div>
      
		</div>
	</div>	
</div>

