<%= erb :'component/heros/_generic_hero', locals: {title: 'Jornada de capacitaciones ágiles en Endava', subtitle: ''} %>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Cómo acompañamos su transformación ágil</h2>

			<h3>Necesidad</h3>
			<p>Endava, una empresa internacional que ofrece servicios de desarrollo de software con presencia en Latinoamérica, Estados Unidos y Europa, se vio en el desafío de mantener la cultura ágil dentro de un contexto de gran crecimiento en poco tiempo.</p>
			<h3>Búsqueda de solución</h3>
			<p>Con el objetivo de transmitir la cultura a las personas que se incorporaban y nivelar conocimiento de metodologías ágiles, se realizó un programa de capacitación de 15 meses en 4 ciudades. Se realizaron talleres de Scrum, XP, DevOps y Comunicación Efectiva.</p>
			<h3>Resultado</h3>
			<p>El aprendizaje vivencial facilitó que las personas se sienten empoderadas para dar devoluciones y proponer cambios, que luego ven implementados. Los entrenamientos altamente interactivos y lúdicos fueron claves para que los integrantes de la compañía salieran motivados a continuar las prácticas ágiles.</p>
			<p>&nbsp;</p>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4Fgmm20j8tA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
		</div>
	</div>
</div>

