<%= erb :'component/heros/_generic_hero', locals: {title: 'Coaching y transformación ágil en AFP Crecer', subtitle: ''} %>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Cómo acompañamos su transformación ágil</h2>

			<h3>Necesidad</h3>
			<p>AFP Crecer, una administradora de fondos de pensiones en El Salvador con más de un millón de afiliados, buscaba agilizar sus procesos internos para mejorar el servicio al cliente. </p>

			<h3>Búsqueda de la solución</h3>
			<p>A partir de esta búsqueda surgió la alianza con Kleer, donde se realizó un acompañamiento y capacitaciones para adoptar metodologías ágiles de trabajo con foco en la entrega temprana de valor, comunicación transparente y empoderamiento de equipos. </p>

			<h3>Resultado</h3>
			<p class="mb-30">Gracias a la aplicación de metodologías ágiles de trabajo se pasó de tener proyectos que tardaban un año en salir a la luz a propuestas que en 3 meses ya estaban funcionando. El principal efecto que se pudo visualizar es que al conseguir resultados más rápido, los equipos se motivan naturalmente a seguir mejorando y creando nuevas ideas.  </p>
			
			<div class="video-container">
				<iframe width="450" height="253" src="https://www.youtube.com/embed/ouenu5_V9mk" frameborder="0"allowfullscreen></iframe>
			</div>

		</div>
	</div>
</div>