<div class="blackBg">
<div class="header-small header-coaching"></div>

<div class="header-description">
	<h1 class="headerTitle"><%= @article.title%></h1>
</div>
</div>

<div class="container mainContent clientes">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 contenedor-main-izq">
      <p><%=@article.trainers.join(',')%> - <%=@article.created_at[0..9]  %></p>
      <%=@markdown_renderer.render( @article.body )%>
		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
    <%# navigation			 %>
		</div>
	</div>
</div>
