<div class="blackBg">
	<div class="header-small header-publicamos"></div>
	
	<div class="header-description">
		<h1 class="headerTitle">Blog</h1>
	</div>
</div>

<div class="vSpace"></div>


<div class="container mainContent">

	<div class="col-md-9 no-hpadding contenedor-main-izq">
	

			<script id="feed-1471989298363662" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Fwww.rssmix.com%2Fu%2F8212920%2Frss.xml&detail=100&limit=20&showtitle=false&type=js&id=1471989298363662"></script>

		</div>
		<div class="col-md-3">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/jquery.js"/></script>
<script type="text/javascript" src="/js/jquery.zrssfeed.min.js"/></script>
