<div class="blackBg">
<div class="header-small header-coaching"></div>

<div class="header-description">
	<h1 class="headerTitle">Nuestros clientes</h1>
</div>
</div>

<div class="container mainContent">
	<div class="container fondo-blanco contenedor-generico">
		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<div class="row">
				<h2>Estas organizaciones confían en nosotros</h2>
				<br>
				<p>
					<a href='clientes/equipos-scrum-en-suramericana-2015'>Paradigma Ágil en <b>Sura</b></a>
	       	<br/><i>Medellín, Colombia</i>. Testimonios de Carlos Hurtado, Valentina Sierra y Jubel Correa.
				</p>
	     	<p>
	       	<a href='clientes/equipos-scrum-en-suramericana-2015'>
	       	<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-sura1.png' alt='Carlos Hurtado nos cuenta su experiencia de trabajo con Kleer en Sura' title='Carlos Hurtado nos cuenta su experiencia de trabajo con Kleer en Sura' align='left' height='160'/>
	       	&nbsp;<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-sura2.png' alt='Valentina Sierra cuenta el impacto que tuvo el equipo de tesorería de Sura al aplicar métodos y prácticas Ágiles' title='Valentina Sierra cuenta el impacto que tuvo el equipo de tesorería de Sura al aplicar métodos y prácticas Ágiles' height='160'/>
	       	</a>
				</p>
	     	<br/>
	     	<p>
					<a href='clientes/equipos-scrum-en-plataforma-10-2015'>Equipos Scrum en <b>Plataforma 10</b></a>
	       	<br/><i>Buenos Aires, Argentina</i>. Testimonios de Gustavo Markier y Gastón Waisman.
				</p>
				<p>
	       	<a href='clientes/equipos-scrum-en-plataforma-10-2015'>
	       	<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-p10-1.png' alt='Gustavo Markier nos cuenta acerca del impacto del trabajo de Kleer en el negocio de Plataforma 10' title='Gustavo Markier nos cuenta acerca del impacto del trabajo de Kleer en el negocio de Plataforma 10' align='left' height='150'/>
	       	&nbsp;<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-p10-2.png' alt='Gastón Waisman describe la implementación de Scrum en los equipos de Desarrollo de Plataforma 10' title='Gastón Waisman describe la implementación de Scrum en los equipos de Desarrollo de Plataforma 10' height='150'/>
	       	</a>
				</p>
	    	<br/>
				<p>
					<a href='clientes/equipos-scrum-en-technisys-2015'>Equipos Scrum en <b>Technisys</b></a>
	       	<br/><i>Argentina y Uruguay</i>. Testimonios de Alejandro Raiczyk y Nico Paez.
				</p>
				<p>
	       	<a href='clientes/equipos-scrum-en-technisys-2015'>
	       	<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-technisys1.png' alt='Alejandro Raiczyk describe el impacto del trabajo de Kleer en el área de Producto de Technisys' title='Alejandro Raiczyk describe el impacto del trabajo de Kleer en el área de Producto de Technisys' align='left' height='150'/>
	       	&nbsp;<img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-technisys2.png' alt='Nicolás Paez describe lo que realizó en el proyecto de implementación de Technisys' title='Nicolás Paez describe lo que realizó en el proyecto de implementación de Technisys' height='150'/>
	       	</a>
				</p>
				<br>
				<p>
					<a href='clientes/innovacion-en-marketing-digital-loreal-2016'>Innovación en marketing digital en <b>L'Oréal</b></a>
					<br/><i>Argentina</i>. Testimonios de Martín Jones.
				</p>
				<p>
					<a href='clientes/innovacion-en-marketing-digital-loreal-2016'>
						<img src='/app/img/loreal-clientes.jpg' alt="Martín Jones, Multibrand Digital Manager de L'Oréal Argentina" title="Martín Jones, Multibrand Digital Manager de L'Oréal Argentina" height='150'/>
					</a>
				</p>
				<br>
				<p>
					<a href='/prensa/casos/transformacion-cultural-agil-ti-epm-2018'>Transformación ágil en <b>EPM</b></a>
					<br/><i>Argentina</i>. Testimonios de Claudia Toscano Vargas.
				</p>
				<p>
					<a href='/prensa/casos/transformacion-cultural-agil-ti-epm-2018'>
						<img src='/app/img/epm-clientes.jpg' alt='Claudia Toscano Vargas, profesional de la Dirección de Soluciones TI en Empresas Públicas Medellín' title='Claudia Toscano Vargas, profesional de la Dirección de Soluciones TI en Empresas Públicas Medellín' height='150'/>
					</a>
				</p>
				<br>
				<p>
					<a href='/prensa/casos/transformacion-digital-bbva-continental'>Transformación digital en <b>BBVA</b></a>
					<br/><i>Argentina</i>. Acompañamiento de equios en BBVA Continental.
				</p>
				<p>
					<a href='/prensa/casos/transformacion-digital-bbva-continental'>
						<img src='/app/img/bbva-clientes.jpg' alt='Acompañamiento de equios en BBVA Continental' title='Acompañamiento de equios en BBVA Continental' height='150'/>
					</a>
				</p>
				<br>
				<p>
					<a href='/prensa/casos/capacitaciones-agiles-endava'>Transformación ágil en <b>Endava</b></a>
					<br/>Se realizaron talleres de Scrum, XP, DevOps y Comunicación Efectiva.
				</p>
				<p>
					<a href='/prensa/casos/capacitaciones-agiles-endava'>
						<img src='/app/img/endava-clientes.jpg' alt='Endava, una empresa internacional que ofrece servicios de desarrollo de software con presencia en Latinoamérica, Estados Unidos y Europa, se vio en el desafío de mantener la cultura ágil dentro de un contexto de gran crecimiento en poco tiempo.' title='Endava, una empresa internacional que ofrece servicios de desarrollo de software con presencia en Latinoamérica, Estados Unidos y Europa, se vio en el desafío de mantener la cultura ágil dentro de un contexto de gran crecimiento en poco tiempo.' height='150'/>
					</a>
				</p>
			</div>
			<br>
			<div class="row">
				<hr/>
				<h3>Algunos de nuestros clientes</h3>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-cocacola.png" alt="Coca Cola" />
					<img class="col-md-3" src="/img/clientes/logo-disney.png" alt="Disney" />
					<img class="col-md-3" src="/img/clientes/logo-loreal.gif" alt="L'Oréal" />
					<img class="col-md-3" src="/img/clientes/logo-latam.jpg" alt="Latam" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-epm.png" alt="epm" />
					<img class="col-md-3" src="/img/clientes/logo-proteccion.jpg" alt="Protección" />
					<img class="col-md-3" src="/img/clientes/logo-bancodeoccidente.png" alt="Banco de Occidente" />
					<img class="col-md-3" src="/img/clientes/logo-bbvacontinental.jpg" alt="BBVA Continental" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-bancodechile.png" alt="Banco de Chile" />
					<img class="col-md-3" src="/img/clientes/logo-bci.jpg" alt="BCI" />
					<img class="col-md-3" src="/img/clientes/logo-banchile.png" alt="Banchile" />
					<img class="col-md-3" src="/img/clientes/logo-interbank.jpg" alt="Interbank" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-bcp.png" alt="BCP" />
					<img class="col-md-3" src="/img/clientes/logo-interbanking.png" alt="Interbanking" />
					<img class="col-md-3" src="/img/clientes/logo-galicia.png" alt="Grupo Galicia" />
					<img class="col-md-3" src="/img/clientes/logo-osde.png" alt="OSDE" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-cablevision.png" alt="Cablevisión" />
					<img class="col-md-3" src="/img/clientes/logo-fibertel.jpg" alt="Fibertel" />
					<img class="col-md-3" src="/img/clientes/logo-ypf.jpg" alt="YPF" />
					<img class="col-md-3" src="/img/clientes/logo-oracle.png" alt="Oracle" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-artear.jpg" alt="Artear" />
					<img class="col-md-3" src="/img/clientes/logo-telecom.jpg" alt="Telecom" />
					<img class="col-md-3" src="/img/clientes/logo-farmacity.png" alt="Farmacity" />
					<img class="col-md-3" src="/img/clientes/logo-cencosud.png" alt="Cencosud" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3" src="/img/clientes/logo-plataforma10.png" alt="Plataforma 10" />
					<img class="col-md-3" src="/img/clientes/logo-intraway.png" alt="Intraway" />
					<img class="col-md-3" src="/img/clientes/logo-exxonmobil.png" alt="Exxon Mobil" />
					<img class="col-md-3" src="/img/clientes/logo-technisys.png" alt="Technisys" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-globallogic.png" alt="GlobalLogic" />
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-neoris.png" alt="Neoris" />
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-asesuisa.jpg" alt="Asesuisa" />
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-bancolombia.jpg" alt="Bancolombia" />
				</div>
				<div class="row-clientes">
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-colpatria.jpg" alt="Colpatria" />
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-Edenor.jpg" alt="Edenor" />
					<img class="col-md-3 column-clientes" src="/img/clientes/logo-Falabella.jpg" alt="Falabella" />
				</div>
			</div>
		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>
