<div class="container-fluid fondo-celeste">
	<div class="container min-height">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<div class="col-md-4 hidden-xs">
				<img src="/img/personajes/404.svg" class="img-responsive"/>
			</div>
			<div class="col-md-8 no-hpadding">
				<div class="not-found">
					<h2>Curso no encontrado.</h2>
					<a class="btn btn-large btn-success btn-kleer" href="/catalogo">Ver Cursos >></a>
				</div>
			</div>
		</div>
	</div>
</div>