<div class="blackBg withSubtitleAndDescription">
	<div class="header-small header-catalogo"></div>

	<div class="header-description">
		<h2 class="headerTitle"><%=t("not_found")%></h2>
	</div>

</div>

<div class="container-fluid fondo-celeste">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<div class="col-sm-4">
				<img src="/img/personajes/404.svg" class="img-responsive"/>
			</div>
			<div class="col-sm-8 no-hpadding">
				<div class="vSpace"></div>
				<div class="vSpace"></div>
				<div class="vSpace"></div>

				<h1>Error 404</h1>
				<h2><%=t("page_not_found")%></h2>

				<div class="vSpace"></div>
				<div class="vSpace"></div>
				<div class="vSpace"></div>

			</div>
		</div>
	</div>
</div>