<div class="container-fluid fondo-celeste">
	<div class="container">
		<div class="container-fluid col-md-10 col-md-offset-1">
			<div class="col-md-4 hidden-xs">
				<img src="/img/personajes/404.svg" class="img-responsive"/>
			</div>
			<div class="col-md-8 no-hpadding">
				<br/><br/><br/><br/><br/><br/><br/><br/>
				<h2>Curso no encontrado.</h2>
				<a class="btn btn-large btn-success btn-kleer" href="/catalogo">Ver Cursos >></a><br/>
				<br/><br/><br/><br/><br/><br/><br/><br/>
			</div>
		</div>
	</div>
</div>