<%if @event.is_sold_out %>
	<a href="#" class="btn btn-danger btn-kleer btn-caps">
		<%=t("general.buttons.complete")%>
	</a>
<% else %>
	<%
	url = ENV['KEVENTER_URL'] || "https://eventos.kleer.la"
	registration_link = "#{url}/events/#{@event.id}/participants/new?lang=" + session[:locale] + @tracking_parameters
	button_text = t("general.buttons.i_am_interested")

	if @event.registration_link != ""
		registration_link = @event.registration_link
	end

	%>
	<%= media_url_anchor registration_link, 'class="btn btn-success btn-kleer btn-caps"'%>
		<%=button_text%>
	</a>
<% end %>
