<div class="container-fluid fondo-amarillo">
	<div class="container">
		<div class=" col-md-10 col-md-offset-1 slide-evento-aprovecha text-center">
			<%= erb :event_register_inscription_options %>
		</div>
	</div>
</div>
