<div class="blackBg">
	<div class="header-small header-facilitacion-innovacion"></div>
	
	<div class="header-description">
		<h1 class="headerTitle">Innovación y creatividad</h1>
	</div>
</div>



<div class="container-fluid fondo-verde">
    
    <div class="vSpace"></div>
    <div class="vSpace"></div>

    <div class="container">

        <h2 class="text-center">Innovación y creatividad</h2>
        <h3 class="text-center">
        Realizamos encuentros para potenciar tanto la creación de más y mejores ideas como su ejecución y puesta en práctica.
        </h3>
   </div>

    <div class="vSpace"></div>
    <div class="vSpace"></div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container-fluid containerWithPadding text-center">
	<div class="container">

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Powerful brainstorming</h3>

            <p>Diseño de actividades para estimular la creación colectiva de ideas. Son jornadas en las cuales se recorren distintas etapas: estímulos, dinámicas grupales, creación masiva de ideas, feedback, selección y priorización, cross-polinización, refinamiento y puesta en común.</p>
            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Talleres de innovación y creatividad</h3>

            <p>Workshops orientados a cubrir todo el ciclo de vida de las ideas: desde la creación y multiplicación hasta la priorización y selección para llevarlas adelante. En estos encuentros se presentan y practican técnicas como: Brainstorming efectivo, Escalera de Abstracciones, Principio de Distanciamiento, Estrategias Oblicuas y Sombrero sobre la cerca.</p>
            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Eventos corporativos y comunitarios</h3>

            <p>Diseñamos eventos y los facilitamos, todo esto en conjunto con nuestros clientes y con las comunidades de práctica en las cuales participamos activamente. Se trata de diversos tipos de eventos, orientados a resolver problemáticas específicas que las empresas y las comunidades estén queriendo resolver.</p>
            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Creatividad analítica *</h3>

            <p>Se trata de un conjunto de actividades y herramientas diseñadas para potenciar los proyectos de analytics utilizando herramientas de creatividad. Así se logra que los profesionales que trabajan con datos (estadísticas, matemáticas, data mining, otros) puedan brindar mejor soporte a acciones de negocios.</p>
            <p><small>(*) trabajo colaborativo junto a SAS Institute</small></p>

            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

	</div>
</div>



<div class="container-fluid fondo-pano pano-9"></div>

<div class="container-fluid fondo-rosa containerWithPadding text-center text-white">
	<div class="container">
		<div class="col-md-12"><p>¿LISTO PARA INICIAR EL CAMBIO?</p></div>
		<div class="col-md-12"><a href="mailto:facilitadores@kleer.la" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a></div>
	</div>
</div>