<div class="blackBg">
	<div class="header-small header-facilitacion-planificacion"></div>
	
	<div class="header-description">
		<h1 class="headerTitle">Planificación estratégica</h1>
	</div>
</div>


<div class="container-fluid fondo-verde">
    
    <div class="vSpace"></div>
    <div class="vSpace"></div>

    <div class="container">

        <h2 class="text-center">Planificación estratégica</h2>
        <h3 class="text-center">
        Nos sentamos en la mesa para acompañar a equipos y directivos en la toma de decisiones. Tomamos en cuenta tanto los desafíos con los que cuenta la empresa como también su rumbo estratégico.
        </h3>
   </div>

    <div class="vSpace"></div>
    <div class="vSpace"></div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container-fluid containerWithPadding text-center">
	<div class="container">

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Plan estratégico de organizaciones y equipos</h3>

            <p>Generar una visión explícita y compartida sobre los pilares de la estrategia de la compañía o el equipo (alineados -en este último caso- con estrategias macro).</p>

            <p>Consensuar objetivos intermedios a alcanzar y determinar los obstáculos que están impidiendo que lleguemos a esos objetivos.</p>

            <p>Generar un plan alcanzable, iterativo e incremental para ir alcanzando objetivos concretos a corto, mediano y largo plazo</p>

            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Inicio de proyectos</h3>

            <p>Los sueños de las organizaciones y las personas se suelen alcanzar a partir de proyectos exitosos. Acompañamos a los equipos en los primeros pasos de sus proyectos para maximizar la probabilidad de éxito de los mismos.</p>

            <p>Se trata de dinámicas y actividades grupales que van desde la creación o consolidación de la visión, pasando por el análisis y la mitigación de riesgos hasta la planeación en diferentes niveles de detalle. En esta línea, también trabajamos en la formación de equipos para proyectos.</p>
            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Identidad de equipos</h3>

            <p>En organizaciones que promueven la realización de sus miembros y buscan el compromiso de los mismos con la obtención de los objetivos organizacionales, la existencia de un propósito compartido y genuino es uno de pilares, junto con la auto-organización y el "estar completos" (wholeness).</p>

            <p>Es por eso que facilitamos actividades diseñadas a medida, en las cuales el objetivo es la identificación colectiva del propósito de un equipo u organización a partir de las motivaciones intrínsecas de sus integrantes.</p>
            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

		<div class="col-md-3">
            <i class="glyphicon glyphicon-ok bigIcon"></i>
            <h3>Eventos corporativos y comunitarios</h3>

            <p>Diseñamos eventos y los facilitamos, todo esto en conjunto con nuestros clientes y con las comunidades de práctica en las cuales participamos activamente. Se trata de diversos tipos de eventos, orientados a resolver problemáticas específicas que las empresas y las comunidades estén queriendo resolver.</p>

            <p><a class="btn btn-info" href="mailto:facilitadores@kleer.la">¡Me interesa!</a></p>
		</div>

	</div>
</div>




<div class="container-fluid fondo-pano pano-9"></div>

<div class="container-fluid fondo-rosa containerWithPadding text-center text-white">
	<div class="container">
		<div class="col-md-12">¿LISTO PARA INICIAR EL CAMBIO?</div>
		<div class="col-md-12"><a href="mailto:facilitadores@kleer.la" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a></div>
	</div>
</div>