<div class="blackBg">
	<div class="header-small header-facilitacion"></div>
	
	<div class="header-description">
		<h1 class="headerTitle">Facilitación</h1>
	</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container">
	<div class="container-fluid">

	<h2 class="text-center">¿Facilitación?</h2>
	<h3 class="text-center">
	La disciplina de la facilitación agrupa todas las actividades y tareas que una o varias personas realizan para que un grupo de participantes logre ejecutar una reunión productiva. A través de ella satisfacemos las necesidades de cualquier grupo que se reúne con un propósito en común, ya sea para la toma de decisiones, la resolución de problemas, o simplemente el intercambio de ideas e información.
	</h3>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container-fluid fondo-verde containerWithPadding text-center">
	<div class="container">

		<div class="col-md-4">
			<ul class="featured-icons">
				<li><img src="/app/img/open-space-ico.jpg" alt="Open Space"></li>
				<li><img src="/app/img/fg-ico.jpg" alt="Facilitación Gráfica"></li>
				<li><img src="/app/img/hack-ico.jpg" alt="Hackathon"></li>
				<li><img src="/app/img/innovacion-ico.jpg" alt="Innovación/Estrategia"></li>
			</ul>
		</div>

		<div class="col-md-8">
			<h2>Facilitamos eventos que ayudan a los equipos a lograr sus objetivos.</h2>

			<p>
			Diseñamos ambientes propicios para crear sinergia entre las personas, espacios de encuentro con dinámicas que saquen el máximo provecho de lo que cada participante tiene para aportar. Como facilitadores asistimos al grupo a encauzar sus conversaciones. Evitamos el protagonismo y las distracciones. ​​¡Nuestro foco está en dar ​espacio a los participantes​ para que la magia emerja!​
			</p>

		</div>

	</div>
</div>

<div class="containerWithPadding text-center">

	<div class="container">

		<h2>Nuestros servicios</h2>

		<div class="row">
			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion01.png" alt="Facilitación gráfica">
				<h3>Facilitación gráfica</h3>

				<p>
				Utilizamos lenguaje gráfico para ilustrar charlas, ponencias, reuniones, conferencias y resultados de las actividades de equipos de trabajo. A esta actividad también se le llama Graphic Recording, la cual facilita el entendimiento y la recordación con piezas de alto impacto. También ofrecemos talleres de Facilitación Gráfica.
				</p>

				<a href="/facilitacion/grafica" class="btn btn-info">¡Conocé más sobre estos servicios!</a>

			</div>

			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion02.jpg" alt="Innovación y creatividad">
				<h3>Innovación y creatividad</h3>

				<p>
				Realizamos encuentros para potenciar tanto la creación de más y mejores ideas como su ejecución y puesta en práctica.
				</p>

				<a href="/facilitacion/innovacion-creatividad" class="btn btn-info">¡Conocé más sobre estos servicios!</a>

			</div>
			
		</div>

		<div class="row">

			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion03.png" alt="Planificación estratégica">
				<h3>Planificación estratégica</h3>

				<p>
				Jornadas donde equipos multidisciplinarios trabajan enfocados y en forma iterativa e incremental para lograr un objetivo pre-acordado, en general llevando adelante el desarrollo de un producto o un prototipo, aunque también se puede utilizar este formato para generar o refinar ideas. 
				</p>

				<a href="/facilitacion/planificacion-estrategica" class="btn btn-info">¡Conocé más sobre estos servicios!</a>

			</div>

			<div class="col-md-6 containerWithVPadding">
				<img src="/app/img/facilitacion04.jpg" alt="Dinámicas y eventos">
				<h3>Dinámicas y eventos</h3>

				<p>
				Diseñamos ambientes que generan sinergia entre las personas. Nos enfocamos en la participación activa de todos y la co-creación de ideas y soluciones. 
				</p>

				<a href="/facilitacion/dinamicas-eventos" class="btn btn-info">¡Conocé más sobre estos servicios!</a>

			</div>

		</div>

	</div>

</div>

<div class="container-fluid fondo-pano pano-9"></div>

<div class="container-fluid fondo-rosa containerWithPadding text-center text-white">
	<div class="container">
		<div class="col-md-12">¿LISTO PARA INICIAR EL CAMBIO?</div>
		<div class="col-md-12"><a href="mailto:facilitadores@kleer.la" class="btn btn-info btn-kleer"><%=t('contact.contact_us')%></a></div>
	</div>
</div>
