<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("coaching.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">
  <h2><img src="/img/coaching/icon_mejora_continua.png" alt="Mejora continua (Kaizen)" height=70px></a> Mejora continua (Kaizen)</h2>

  <div class="col-md-8 no-hpadding contenedor-main-izq">
    <h3>Acompañamos la generación del hábito de mejora continua.</h3>

    <p>Entrenamos, hacemos mentoría y generamos un proceso sostenible para lograr grandes desafíos en pequeños pasos usando Toyota Kata, el método inspirado en la cultura de esta empresa.</p>
    <p>
      <ol>
      <li>Enfoque basado en la experimentación.</li>
      <li>Mejora de procesos (eficiencia, desperdicios, valor).</li>
      <li>Desarrollo de líderes como coaches internos de mejora continua.</li>
      <li>Mentoría complementaria de técnicas ágiles.</li>
      </ol>
    </p>
    <br>
    <picture>
      <source type="image/webp" srcset="/img/coaching/mejora_continua.webp">
      <img src="/img/coaching/mejora_continua.jpg" class="img-rounded" alt="Mejoa continua con Toyota Kata">
    </picture>
  </div>

  <div class="col-md-4">
    <div class="well well-small">
      <h4>Beneficios esperados para el equipo</h4>
        <p>
          <ul>
            <li>Que mejore sus indicadores de resultado.</li>
            <li>Mejora de procesos, eficiencias y aprendizajes enfocados en una dirección compartida.</li>
            <li>Que expanda su conocimiento sobre cómo descubrir mejores formas de hacer su trabajo y lograr resultados colectivamente.</li>
            <li>Que aprenda a generar el hábito de mejora continua en su evolución desde la situación actual hacia un estado deseado</li>
            <li>Que pueda continuar con la dinámica de mejora después de que Kleer salga del entorno.</li>
            <li>Que se empodere de su proceso con responsabilidad colectiva.</li>
            <li>Que se irradie aprendizajes al resto de la organización.</li>
          </ul>
        </p></div>

      <div class="well well-small">
        <h4>Algunos enlaces de interés para ampliar información</h4>
        <p>
          <ul>
            <li>Post: <a href="/blog/mejora-continua-para-todo-el-mundo">Mejora continua para todo el mundo</a> por Leonardo Agudelo</li>
            <br>
            <li>Video: <a href="https://www.twitch.tv/videos/1157181830">Toyota Kata - Grandes desafíos en pequeños pasos (intro + improvement kata)</a> por Pablo Tortorella</li>
            <li>Video: <a href="https://www.twitch.tv/videos/1164082065">Toyota Kata - Recorremos la Coaching Kata</a> por Pablo Tortorella</li>
            <li>Video: <a href="https://www.twitch.tv/videos/1150607216">Entrevista sobre Toyota Kata</a> Pablo Tortorella y Leonardo Agudelo</li>
            <br>
            <li>Curso: <a href="/cursos/97-mejora-continua-con-toyota-kata">Mejora Continua con Toyota Kata</a></li>
            <li>Curso: <a href="/cursos/337-lean-y-kanban-en-accion-(online)">Lean y Kanban en Acción (online)</a></li>
          </ul>
        </p>
    </div>
  </div>
</div>
