<div class="blackBg">
<div class="header-small header-falabella"></div>

<div class="header-description">
	<h3 class="headerTitle">Transformación Organizacional en Falabella Financiero</h3>
</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Cómo acompañamos su transformación ágil</h2>

			<h3>Necesidad</h3>
			<p>Falabella Financiero, una empresa perteneciente al grupo Falabella y operando en Chile, Perú, Argentina, México y Colombia, se vio en el desafío de escalar y extender la cultura de trabajo de su Digital Factory. En la Digital Factory se desarrollan las aplicaciones financieras corporativas para canales digitales, y ha crecido exponencialmente desde su creación.  

			</p>

			<h3>Búsqueda de solución</h3>
			<p>La Digital Factory incorporó desde muy temprano una forma de trabajo ágil. Pero luego de un año y medio de crecimiento, era necesario consolidar, escalar y mejorar esta forma de trabajo ágil para acompañar nuevos desafíos de negocio. </p>
			<p>Iniciamos con auto-assessments de agilidad, tanto orientados a equipos como a los líderes. A partir de lo aprendido, comenzamos un proceso de mejora continua de seis meses, con ciclos mensuales con los equipos y agentes de cambios y revisiones trimestrales con los sponsors y gerentes. Las soluciones fueron, a medida que avanzamos, creadas y realizadas cada vez en mayor medida por participantes de la Digital Factory.</p>

			<h3>Resultado</h3>
			<p>Durante el acompañamiento de 6 meses con coaches de Kleer el foco fue formar nuevos equipos que mantengan la cultura ágil, robustecer las relaciones entre equipos, adaptar la comunicación, toma de decisiones y liderazgo a la nueva escala y crear comunidades de práctica para fomentar el desarrollo profesional y el aprendizaje organizacional.</p>

			<p>Algunos resultados destacados: </p>

			<ul>
				<li>El tiempo para formar un nuevo equipo pasó de tres a dos meses. </li>
				<li>Se puso en práctica un mecanismo de sincronización para pasajes a producción gestionado por los equipos. </li>
				<li>Cada comunidad de práctica tomó responsabilidad del mantenimiento y evolución de su plataforma y productos.</li>
				<li>Los gerentes delegaron gradualmente varios aspectos de su gestión a las comunidades de prácticas, a los equipos y a un grupo de agentes de cambio.</li>
			</ul>
			<p>Estos son algunos de los testimonios:</p>
			<div class="video-container">
			<iframe width="450" height="253" src="https://www.youtube.com/embed/i1Pi3Z28v2A" frameborder="0"allowfullscreen></iframe>
		</div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
