<div class="blackBg">
<div class="header-small header-bbva"></div>

<div class="header-description">
	<h3 class="headerTitle">Acompañamiento en la transformación digital de BBVA Continental</h3>
</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Cómo acompañamos su transformación ágil</h2>

			<h3>Necesidad</h3>
			<p>BBVA Continental (Perú) estaba atravesando un proceso de transformación digital con tres desafíos claros:
				<ul>
					<li>Afianzar las prácticas ágiles en el contexto real del banco</li>
					<li>Remover los impedimentos que dificultan el cambio cultural</li>
					<li>Llevar la transformación ágil a más áreas de la empresa</li>
				</ul>
			</p>
			
			<h3>Búsqueda de solución</h3>
			<p>BBVA contactó a Kleer para facilitar el logro de esos objetivos a través de consultoría, mentoring y coaching. El acompañamiento abarcó a equipos y managers para ayudar a incorporar las prácticas ágiles de trabajo y escalarlas.</p>
			<p>Los coaches de Kleer se dedicaron, por un lado, a apoyar a los Scrum Masters, Product Owners y stakeholders en las prácticas ágiles de trabajo y en su escalamiento. El foco estuvo en el desarrollo iterativo e incremental de productos, gestión ágil de proyectos, visual management y técnicas de desarrollo de software de calidad.</p>
			<p>Por otro, se realizaron actividades de sensibilización de valores y principios ágiles para potenciar el cambio cultural en otras áreas del banco. Se crearon comunidades de práctica para compartir conocimientos y construir nuevos equipos.</p>
			<p>El equipo de coaches se ocupó además de desarrollar agentes de cambio internos, a modo de que la transformación digital continúe con ellos de modo sostenible.</p>
			
			<h3>Resultado</h3>
			<p>Luego de un año y dos meses de acompañamiento intensivo los equipos de BBVA adoptaron una cultura de trabajo más ágil y transparente. El resultado fue un mayor empoderamiento por parte de los equipos, apoyados por un equipo de Agile Coaches internos formados por Kleer. Y finalmente hubo un considerable aumento en la rapidez de entrega de valor al cliente.</p>

			<p>A continuación compartimos algunos de los testimonios:</p>
			
			<p>&nbsp;</p>
			<p>Management y Transformación Digital</p>
			<p>&nbsp;</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/rt2urbKrjUc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

			<p>&nbsp;</p>
			<div>Acompañamiento de Equipos</div>
			<p>&nbsp;</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/EgbDWWL1ba0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
			<p>&nbsp;</p>
			<div>Impacto en el Desarrollo de Proyectos</div>
			<p>&nbsp;</p>
      <div class="video-container">
        <iframe width="320" height="240" src="https://www.youtube.com/embed/RxK46UqLo08" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>	
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
