<div class="blackBg">
<div class="header-small header-ypf-2020"></div>

<div class="header-description">
	<h3 class="headerTitle">Así profundizó YPF su camino de transformación ágil</h3>
</div>

</div>

<div class="vSpace"></div>
<div class="vSpace"></div>

<div class="container mainContent">
	<div class="container-fluid">

		<div class="col-md-9 no-hpadding contenedor-main-izq">
			<h2>Así profundizó YPF su camino de transformación ágil</h2>

			<h3>Necesidad</h3>
			<p>YPF es la mayor empresa de Argentina y la quinta compañía de energía más grande de América Latina. Posee 92 instalaciones productivas distribuidas en el territorio de ese país, donde emplea a más de 72.000 personas.</p>

			<p>Su área de Supply Chain se encarga de gestionar toda la cadena de suministros de YPF. Eso la convierte en uno de los compradores de insumos más grande de la Argentina. Es el sector de la compañía que debe identificar, evaluar y finalmente adquirir lo necesario para actividades muy diversas. Desde la exploración, explotación y transporte de gas y petróleo, pasando por la refinación hasta la venta de lubricantes, derivados, y combustibles a través de su red de más de 1600 estaciones de servicio.</p>

			<h3>AGILIDAD ORGANIZACIONAL en YPF Desafíos y Resultados</h3>
			<div class="video-container mb-50">
				<iframe width="450" height="253" src="https://www.youtube.com/embed/TcIo8Ek05YQ" frameborder="0"allowfullscreen></iframe>
			</div>
			
			<p>Dada la dimensión de su operación y frente a objetivos muy agresivos de reducción de costos, Supply Chain de YPF se vio ante la necesidad de optimizar los procesos completos que dan lugar a las compras y contrataciones estratégicas. Luego de haber analizado opciones para lograrlo, definieron y lograron la validación de un modelo operativo inicial, que marcaba el comienzo del camino de transformación ágil.</p>

			<p>Una vez identificado el rumbo, surgió la necesidad de transitar el desafiante camino de transformación ágil con el acompañamiento de especialistas con experiencia en el tema. Es entonces que eligen comenzar a trabajar con Kleer.</p>

			<h3>Búsqueda de solución</h3>
			<p>Supply Chain comenzó a incorporar estrategias ágiles en las iniciativas de Strategic Outsourcing, que apuntan a las compras y contrataciones de servicios y materiales relacionadas a la solución de problemáticas particularmente complejas. Encontró que es ahí donde el enfoque ágil podía proporcionar el mayor potencial en términos de ahorros, de innovación, y de mejora en sus alianzas con proveedores. </p>

			<p>Strategic Outsourcing se encarga, por ejemplo, de adquirir plantas de tratamiento de residuos. Ello implica la participación coordinada de varios proveedores que deben concebir, desarrollar, instalar y operar maquinarias con altos niveles de innovación.</p>

			<p>De ese modo, a lo largo de un año, capacitamos y acompañamos para incorporar distintas metodologías de Scrum a 48 equipos Scrum de Strategic Sourcing, involucrando múltiples áreas de negocio y de soporte además del área de Supply Chain. Fueron capacitaciones presenciales de las que participaron 5 coaches de Kleer en ciudades de todo el país, entre ellas Mendoza, Comodoro Rivadavia, Neuquén, Buenos Aires y La Plata. </p>

			<p>Desde Kleer los ayudamos a entender mejor la agilidad, y a identificar sus necesidades de negocio con mayor claridad. Nos enfocamos en acompañarlos para que logren objetivos de negocios concretos en sólo 3 o 4 meses. </p>

			<p>Además, ayudamos a algunos de los integrantes de su equipo a formarse como agile coaches, para que YPF pueda sostener la transformación una vez que hubiéramos terminado nuestro trabajo con ellos.</p>
			<div class="row">
				<div class="col-md-7">
					<h3>Los RESULTADOS de YPF con AGILIDAD ORGANIZACIONAL</h3>
					<div class="video-container mb-50">
						<iframe width="450" height="253" src="https://www.youtube.com/embed/XZZBUNVLV9M" frameborder="0"allowfullscreen></iframe>
					</div>

					<h3>Los DESAFÍOS de YPF en AGILIDAD ORGANIZACIONAL</h3>
					<div class="video-container mb-50">
						<iframe width="450" height="253" src="https://www.youtube.com/embed/-9DaFePcqNk" frameborder="0"allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-md-5">
					<h3>Resultado</h3>
					<p>Durante el acompañamiento de 12 meses con coaches de Kleer, el foco de Supply Chain  fue formar nuevos equipos para desarrollar y mantener la cultura ágil, robustecer las relaciones entre sus integrantes, adaptar la comunicación, tomar decisiones efectivas y crear comunidades para fomentar el desarrollo profesional.</p>

					<p>Los equipos lograron transformar su forma de trabajo con resultados asombrosos. Pero además de resultados de negocios, la intervención de Kleer ayudó a ayudó a desarrollar una dinámica que hoy le permite a Supply Chain continuar con el proceso iniciado y que la transformación ágil se expanda.</p>

					<p><i>Algunos resultados destacados</i></p>

					<ul class="mb-50">
						<li>Ahorro potencial de más de 260 millones de dólares</li>
						<li>Mayor involucramiento de todas las partes para lograr un objetivo común</li>
						<li>Sensible disminución del trabajo en silos dentro de los equipos</li> 
						<li>Fuerte impacto en otras áreas de la compañía</li>
						<li>Mayor involucramiento de los equipos con sus clientes internos dentro de la organización</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="col-md-3 hidden-xs hidden-sm">
			<%= erb :_twitter_widget, :layout => false %>
		</div>
	</div>
</div>

<div class="vSpace"></div>
<div class="vSpace"></div>
