<div class="blackBg">
    <div class="header-small header-publicamos"></div>

    <div class="header-description">
        <h1 class="headerTitle"><%=t("recursos.title")%></h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">

    <div class="col-md-8 no-hpadding contenedor-main-izq">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e8KO4N2SGcU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <img src="https://drive.google.com/uc?export=view&id=1GXXIVNYg4BHdneFsI1-uWyV2wTpNgMOL" class="img-rounded">
    </div>

    <div class="col-md-4">

        <div class="well well-small">
        <a href="https://academia.kleer.la/p/agilidad-y-scrum" name="Agilidad y Scrum"><img 
        src="https://kleer-images.s3-sa-east-1.amazonaws.com/poster+de+scrum.jpg" class="img-rounded"></a>
               <h4><a href="https://academia.kleer.la/p/agilidad-y-scrum">Introducción a la Agilidad y Scrum</a></h4>
                <p>Curso gratuito y a tu propio ritmo.</p>
        </div>

        <div class="well well-small">        
               <h4><a href="/es/cursos/268-proyectos-agiles-con-scrum-(online)">Proyectos Agililes con Scrum</a></h4>
                <p>Curso para realizar proyectos y productos.</p>
        </div>

        <div class="well well-small">
               <h4><a href="/es/cursos/337-lean-y-kanban-en-accion-(online)">Lean y Kanban en acción</a></h4>
                <p>Curso para mejorar tus servicios y el día a día operativo.</p>
        </div>


        <div class="well well-small">
            <a href="/es/recursos" name="recursos y materiales"><img src="/img/recursos/guias-agiles.jpg" class="img-rounded"></a>
               <h4><a href="/es/recursos">Recursos y Materiales</a></h4>
                <p>Más recursos y materiales disponibles en el sitio</p>
        </div>
    </div>

</div>
