<div class="blackBg">
    <div class="header-small" style="background: url(/img/retro2.jpg);background-size: cover;height: 400px;
  background-position: center center;"></div>
    <div class="header-description">
        <h1 class="headerTitle">Tiempo de Retrospectiva</h1>
    </div>
</div>

<div class="vSpace"></div>

<div class="container mainContent recursos">
<h2>¡Te damos la bienvenida a la 1era Retrospectiva de kleerers del Cono Sur del 2022!</h2>

    <div class="col-md-8 no-hpadding contenedor-main-izq">
      <p><strong>Buscá un lugar cómodo, poné play y comenzamos.</strong></p>
<audio controls autoplay>
  <source src="/audio/retro.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
      <p>Para comenzar, te invitamos a conectar contigo a través de 2 o 3 ciclos de respiraciones profundas y conscientes. </p>
      <p>Lo podés a hacer en 4 tiempos:</p>
      <ol>
      <li>Inhalá por la nariz en 4 segundos llevando el aire a la panza.</li>
      <li>Retené el aire 4 segundos.</li>
      <li>Exhalá por la boca en 4 segundos.</li>
      <li>Mantené el vacío durante 4 segundos.</li>
      </ol>
    </p>

    <p>
      Si querés, mientras lo hacés podés cerrar los ojos, mirar el cielo o alguna plantita que tengas cerca de donde estás.
    </p>


    </p>¿Ya estás aquí? <strong>Seguí la experiencia en <a href="https://app.mural.co/t/kleerjg1868/m/kleerjg1868/1645210048554/637989546286f8df74f595f36f1678cb3c0cb329?wid=0-1645210442385&sender=juangabardini6555" target="blank">este enlace</a><strong>
    </p>

    </div>

    <div class="col-md-4">
    </div>

</div>
