<div class="container-fluid fondo-celeste slide-home-publicaciones">
	<div class="container container-home-publicaciones">
		<br/>
		<h1 class="publicaciones-title">Newsletter</h1>
		<h2>
		<strong><%=@fname%></strong>, gracias por suscribirte al Newsletter de Kleer. Periódicamente recibirás novedades en <strong><%=@email%></strong>.<br/><br/>
		Mientras tanto, te invitamos a conocer nuestros cursos y eventos comunitarios.
		<h2>
	</div>
</div>
