<div class="blackBg">
	<div class="header-small header-suscripcion"></div>
	
	<div class="header-description">
		<h1 class="headerTitle">Newsletter</h1>
	</div>

</div>


<div class="container-fluid fondo-celeste slide-home-publicaciones">
	<div class="container container-home-publicaciones">
		<h2>
		<strong><%=@fname%></strong>, gracias por suscribirte al Newsletter de Kleer. Periódicamente recibirás novedades en <strong><%=@email%></strong>.<br/><br/>
		Mientras tanto, te invitamos a conocer nuestros cursos y eventos comunitarios.
		<h2>
	</div>
</div>
