<div class="header-service-cta">
  <p class="m-0">
    <strong>
      Solicita una videollamada para cocrear tu propuesta
    </strong>
  </p>
  <a href="#newsletter-subscription">
    <strong>¡Contáctanos!</strong>
  </a>
</div>