<div
  class="target"
  style="background-color: <%= @secondary_color %>"
>
  <div class="row h-100">
    <div class="col-md-4 title-container">
      <img src="/app/img/icons/search.svg"/>
      ¿A quien está dirigido el programa?
    </div>
    <div class="col-md-8 content">
      <p>
        <%= target %>
      </p>
    </div>
  </div>
</div>