<div
  class="target"
  style="background-color: <%= @secondary_color %>"
>
  <div class="row h-100">
    <div class="col-md-4 title-container">
      <img src="/app/img/icons/search.svg" loading="lazy"/>
      <h3>¿A quién está dirigido el servicio de <%= name %>?</h3>
    </div>
    <div class="col-md-8 content">
      <p>
        <%= target %>
      </p>
    </div>
  </div>
</div>