<div class="value-proposition">
  <div class="row">
    <div class="col-md-7 text">
      <h2>
        <%= name %>
      </h2>
      <%= value_proposition %>
    </div>
    <div class="col-md-5">
      <img src="<%= image %>" alt="">
    </div>
  </div>
</div>