<div class="value-proposition row">
  <div class="col-12 col-lg-7 text">
    <h2 class="mb-5">
      <%= name %>
      <div
        class="line"
        style="background-color: <%= @primary_color %>"
      ></div>
    </h2>
    <%= value_proposition %>
  </div>
  <div class="col-lg-5 image-container">
    <img src="<%= image %>" alt="">
  </div>
</div>