<% if authors.length == 1 %>
  <div class="invidivual-author">
    <img
      src=""
      alt=""
      class=""
      />
    <%= authors[0] %>
  </div>
<% else %>
  <div class="more-authors">
    <img
      src=""
      alt=""
      class=""
      />
    Autores +
    <div class="more-authors__popup">
      <% authors.each do |author| %>
        <p><%= author %></p>
      <% end %>
    </div>
  </div>
<% end %>
