
<div class="col-sm-6">
  <div class="row">
    <div class="col-md-12"><h4><%=t("event.facilitator")%>:</h4></div>
  </div>
  <%@event.trainers.each {|t|%>
    <div class="row img-trainer">
      <div class="col-xs-4 col-sm-2 d-sm-block">
        <img src="<%=t.gravatar_picture_url%>?size=125" class="img-circle img-responsive">
      </div>
      <div class="col-xs-8 col-sm-10 img-name">
        <strong><%=t.name%></strong>
      </div>
    </div>
    <%}%>
</div>
