<div class="row">
	<strong><%=t("event.facilitator")%>:</strong>
</div>
<%@event.trainers.each {|t|%>
	<div class="row">
		<div class="col-xs-12">
		  <img src="<%=t.gravatar_picture_url%>?size=125" class="img-circle img-responsive">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 event-facilitator-text">
		    <strong><%=t.name%></strong>
		</div>
	</div>
<%}%>