<section id="course-description" class="container">
      <div class="row">
        <div class="col-md-6">
          <%=@markdown_renderer.render( @event_type.description )%>
        </div>
        <div class="col-md-6 ps-5 pe-5">
          <%if @event_type.side_image.to_s == ''%>
            <img src="/img/generics/description_generic.png"/>
          <% else %>
            <img src="<%= @event_type.side_image%>"/>
          <% end %>
          <% @event_type.public_editions.first(2).each do |edition| %>
            <% unless edition&.banner_text.to_s == '' %>
              <div style="background: #fded96; font-weight: ; padding: 15px; margin-top: 15px; border-radius:12px;"> 
                <%= @markdown_renderer.render(edition&.banner_text)%>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
</section>
