<section id="course-description" class="container">
      <div class="row">
        <div class="col-md-6">
          <%=@markdown_renderer.render( @event_type.description )%>
        </div>
        <div class="col-md-6 ps-5 pe-5">
           <img src="/img/generics/description_generic.png"/>
        </div>
      </div>
</section>
