<section id="course-hero">
  <div class="row h-100">
    <div class="col-md-9 course-hero__text">
      <div class="course-hero__flag">
        <p>
          <img src="/app/img/icons/VideoCamera.svg" width="20" height="20" alt="Video camera icon" loading="lazy">
          Online
        </p>
      </div>
      <h1><%= @event_type.name %></h1>
      <h2 class="hero-description"><%= @event_type.subtitle %></h2>
    </div>
    <div class="col-md-3 course-hero__button">
        <% if @event_type.public_editions.length > 0 %>
          <a href="#course-next-editions">
            <strong><%= t("course_landing.see_next_editions") %></strong>
            <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_arrow2.svg" width="20" height="20" loading="lazy"/>
          </a>
        <% else %>
          <a data-bs-toggle="modal" data-bs-target="#mail-modal">
            <strong><%= t("course_landing.contact_us") %></strong>
          </a>
        <% end %>
    </div>
  </div>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_oval.svg" class="course-hero__yellow-oval" width="222" height="244" loading="lazy" alt="Red bean decorative element">
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_bean.svg" class="course-hero__red-bean" width="117" height="75" loading="lazy"/>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_worm.svg" class="course-hero__rustic-worm" width="117" height="75" loading="lazy"/>
</section>
