<% unless @event_type.public_editions == [] %>
    <section id="course-next-editions" class="container mb-5">
        <!--h2 class="mb-5 text-center common-subtitle">Próximas ediciones</h2-->
        <div class="row schedule-titles">
          <p class="col-lg-1 item">Fecha</p>
          <p class="col-lg-1 item">Duración</p>
          <p class="col-lg-2 item">Modalidad</p>
          <p class="col-lg-2 item">Horario</p>
          <p class="col-lg-2 item">Valor</p>
          <p class="col-lg-2 item">Venta anticipada</p>
        </div>

        <% @event_type.public_editions.each do |event| %>
          <%= erb :'component/_schedule_item', locals: {event: event, with_name: false}%>
        <% end %>
    </section>
<% end %>
