<% if @event_type.is_new_version%>
<section id="course-recipients" class="container mt-5">
  <div class="row">
    <h2 class="mb-4 text-center common-subtitle"><%= t("course_landing.target") %></h2>
    <div >
      <%=@markdown_renderer.render( @event_type.recipients )%>
    </div>
  </div>
</section>
<% else %>
<section id="course-recipients" class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="/img/generics/recipients_generic.webp" loading="lazy"/>
    </div>
    <div class="col-md-6">
      <h2 class="mb-4 text-center common-subtitle"><%= t("course_landing.target") %></h2>
      <%=@markdown_renderer.render( @event_type.recipients )%>
    </div>
  </div>
</section>
<% end %>