<section id="course-learnings" >
  <div class="course-learnings__container container">
    <h2 class="text-center mb-5 common-subtitle"><%= t("course_landing.takeaways") %></h2>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <%= @markdown_renderer.render( @event_type.takeaways.to_s) %>
      </div>
    </div>
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_circleb.svg" class="desktop_figure course-learnings__rustic-circle" />
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_circle2.svg" class="desktop_figure course-learnings__green-circle" />
  </div>

</section>
