<div class="course-company-panel">
	<p class="m-0">
		<strong>
			Conoce más de quienes formamos kleer
		</strong>
	</p>
	<a target="_blank" href="https://www.youtube.com/watch?v=SvefZLWr3f8&list=PLrBvQ0ePGhkH_xPyQxn6Bc-98H1c9Ti1d">
		<strong>Podcast: Descubriendo kleer</strong>
	</a>
</div>
<%= erb :'about_us/hero' %>
<%= erb :'about_us/kleerers' %>
