<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3 class="text-center"><%=t("we_are.subtitle")%></h3>
      <p class="text-center title-somos"><%=t("we_are.description")%></p>
    </div>
  </div>
</div>
