<section id="aboutus-proposito" class="aboutus-proposito">
  <div class="container">
    <blockquote>
      <p>&ldquo;<%= t('aboutus.proposito.quote') %>&rdquo;</p>
    </blockquote>
    <p class="aboutus-proposito__footnote"><%= t('aboutus.proposito.footnote') %></p>
  </div>
</section>
