<section id="assessment-hero" class="assessment-hero">
  <div class="resource-detail-hero">
    <div class="container offset-lg-1">
      <div class="row">
        <div class="col-12 col-lg-6 resource-detail-hero__content">
          <h1>Assessment Results</h1>
          <h2><%= @assessment.title %></h2>
          <p><%= @markdown_renderer.render(@assessment.description) %></p>
        </div>
        <div class="col-12 col-lg-5 resource-detail-hero__image d-none d-lg-block">
          <img
            src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_bean.svg"
            class="resource-detail-hero__decoration resource-detail-hero__decoration--green"
            alt="decorative figure"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container mt-5 mb-5">
   <div class="row">
     <% if @error_message.nil? || @error_message.empty? %>
      <p>Respuestas enviadas correctamente, revisa tu correo para los resultados.</p>
  <% else %>
    <p><%= @error_message%></p>
  <% end %>
  </div>
<div id="result-container">
  <div class="spinner-border" role="status" id="loading"></div>
  <div id="result" style="display: none;">
    <p>PDF: <a href="#" id="pdf-link"></a></p>
  </div>
</div>
<script>
  function checkStatus() {
    fetch('/assessment/<%= @id %>/result_status')
      .then(response => response.json())
      .then(data => {
        if (data.status === 'processed') {
          document.getElementById('loading').style.display = 'none';
          document.getElementById('result').style.display = 'block';
          document.getElementById('pdf-link').href = data.assessment_report_url;
          document.getElementById('pdf-link').textContent = 'Download PDF';
        } else {
          setTimeout(checkStatus, 2000); // Poll every 5 seconds
        }
      });
  }
  checkStatus();
</script>

</section>