<%=erb :'component/_generic_hero', locals: {title: t('clients.title'), subtitle: t('clients.subtitle')} %>

<div class="container mainContent clientes mt-5">
	<div class="container fondo-blanco contenedor-generico">
    <%if session[:locale] == 'es'%>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='prensa/casos/transformacion-agil-ypf-2020'>Así profundizó <strong>YPF</strong> su camino de transformación ágil</a>
          </p>
          <p>
            <a href='prensa/casos/transformacion-agil-ypf-2020'>
              <img src="/app/img/ypf-2020.jpg" alt='Así profundizó YPF su camino de transformación ágil' title='Así profundizó YPF su camino de transformación ágil' align='left' height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='prensa/casos/afp-crecer'>Coaching y transformación ágil en <b>AFP Crecer</b></a>
          </p>
          <p>
            <a href='prensa/casos/afp-crecer'>
              <img src="/app/img/afp-crecer.jpg" alt='Coaching y transformación ágil en AFP Crecer' title='Coaching y transformación ágil en AFP Crecer' align='left' height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='prensa/casos/falabella-financiero'>Transformación Organizacional en <b>Falabella Financiero</b></a>
          </p>
          <p>
            <a href='prensa/casos/falabella-financiero'>
              <img src="/img/prensa/casos/falabella.jpg" alt='Transformación Organizacional en Falabella Financiero' title='Transformación Organizacional en Falabella Financiero' align='left' height='150'/>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='clientes/equipos-scrum-en-suramericana-2015'>Paradigma Ágil en <b>Sura</b></a>
          </p>
          <p>
            <a href='clientes/equipos-scrum-en-suramericana-2015'>
              <img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-sura1.png' alt='Carlos Hurtado nos cuenta su experiencia de trabajo con Kleer en Sura' title='Carlos Hurtado nos cuenta su experiencia de trabajo con Kleer en Sura' align='left' height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='clientes/equipos-scrum-en-plataforma-10-2015'>Equipos Scrum en <b>Plataforma 10</b></a>
          </p>
          <p>
            <a href='clientes/equipos-scrum-en-plataforma-10-2015'>
              <img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-p10-1.png' alt='Gustavo Markier nos cuenta acerca del impacto del trabajo de Kleer en el negocio de Plataforma 10' title='Gustavo Markier nos cuenta acerca del impacto del trabajo de Kleer en el negocio de Plataforma 10' align='left' height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='clientes/equipos-scrum-en-technisys-2015'>Equipos Scrum en <b>Technisys</b></a>
          </p>
          <p>
            <a href='clientes/equipos-scrum-en-technisys-2015'>
              <img src='https://s3-sa-east-1.amazonaws.com/kleer-images/Kleer-casos-technisys1.png' alt='Alejandro Raiczyk describe el impacto del trabajo de Kleer en el área de Producto de Technisys' title='Alejandro Raiczyk describe el impacto del trabajo de Kleer en el área de Producto de Technisys' align='left' height='150'/>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='clientes/innovacion-en-marketing-digital-loreal-2016'>Innovación en marketing digital en <b>L'Oréal</b></a>
          </p>
          <p>
            <a href='clientes/innovacion-en-marketing-digital-loreal-2016'>
              <img src='/app/img/loreal-clientes.jpg' alt="Martín Jones, Multibrand Digital Manager de L'Oréal Argentina" title="Martín Jones, Multibrand Digital Manager de L'Oréal Argentina" height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='/prensa/casos/transformacion-cultural-agil-ti-epm-2018'>Transformación ágil en <b>EPM</b></a>
          </p>
          <p>
            <a href='/prensa/casos/transformacion-cultural-agil-ti-epm-2018'>
              <img src='/app/img/epm-clientes.jpg' alt='Claudia Toscano Vargas, profesional de la Dirección de Soluciones TI en Empresas Públicas Medellín' title='Claudia Toscano Vargas, profesional de la Dirección de Soluciones TI en Empresas Públicas Medellín' height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='/prensa/casos/transformacion-digital-bbva-continental'>Transformación digital en <b>BBVA</b></a>
          </p>
          <p>
            <a href='/prensa/casos/transformacion-digital-bbva-continental'>
              <img src='/app/img/bbva-clientes.jpg' alt='Acompañamiento de equios en BBVA Continental' title='Acompañamiento de equios en BBVA Continental' height='150'/>
            </a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <p>
            <a href='/prensa/casos/capacitaciones-agiles-endava'>Transformación ágil en <b>Endava</b></a>
          </p>
          <p>
            <a href='/prensa/casos/capacitaciones-agiles-endava'>
              <img src='/app/img/endava-clientes.jpg' alt='Endava, una empresa internacional que ofrece servicios de desarrollo de software con presencia en Latinoamérica, Estados Unidos y Europa, se vio en el desafío de mantener la cultura ágil dentro de un contexto de gran crecimiento en poco tiempo.' title='Endava, una empresa internacional que ofrece servicios de desarrollo de software con presencia en Latinoamérica, Estados Unidos y Europa, se vio en el desafío de mantener la cultura ágil dentro de un contexto de gran crecimiento en poco tiempo.' height='150'/>
            </a>
          </p>
        </div>
        <div class="col-md-4 col-xs-12">

        </div>
        <div class="col-md-4 col-xs-12">

        </div>
      </div>
    <%end%>
	</div>
</div>
<%=erb :'component/client_carousel' %>
