<%= erb :'component/_generic_hero', locals: {title: t('clients.title'), subtitle: t('clients.subtitle')} %>

<div class="container mainContent clientes mt-5">
  <div class="container fondo-blanco contenedor-generico">
    <% if session[:locale] == 'es' %>
        <div class="row">
          <% @stories.each do |id, story| %>
            <div class="col-md-6 col-lg-4">
              <%= erb :'component/cards/_client_card', locals: {
                    where_uri: '/es/clientes/testimonios/', 
                    industry: story[:industry]&.upcase, 
                    cover: story[:image_url],
                    title: story[:title],
                    description: story[:description],
                    id: id,
                    } 
              %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<%= erb :'component/client_carousel' %>
