<!-- Modal -->
<div class="modal fade" id="onLoadModal" tabindex="-1" aria-labelledby="onLoadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="<%= cta %>">
          <img src="<%= img %>" alt="<%= cta %>" loading="lazy"/>
        </a>
      </div>
    </div>
  </div>
</div>