<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">

    <img src="/app/img/view_figures/rustic_circle.svg" class="desktop_figure newsletter__rustic-circle"/>
    <img src="/app/img/view_figures/green_circle.svg" class="desktop_figure newsletter__green-circle"/>
    <h6 class="mb-4">
      <%= text %>
    </h6>
    <%= erb :'component/_modal_contact' , locals={text_button: text_button}%>
  </div>
</section>
