<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">

    <img src="/app/img/view_figures/rustic_circle.svg" class="desktop_figure newsletter__rustic-circle"/>
    <img src="/app/img/view_figures/green_circle.svg" class="desktop_figure newsletter__green-circle"/>
    <h6 class="mb-4">
      <%= text %>
    </h6>

    <div class="btn-center-container m-3">
      <button type="button" class="btn my-primary-button" data-bs-toggle="modal" data-bs-target="#mail-modal">
        <%= text_button %>
      </button>
    </div>

  </div>
</section>
