<div class="card course_card" style="width: 18rem;">
  <img src="https://www.scrumalliance.org/_scrum/images/badges300x300/active/SA_badge_csd.png" class="card-img-top course_card__image" alt="...">
  <div class="card-body">
    <h5 class="card-title course_card__title"><%= @course[:title]%></h5>
    <p class="card-text course_card__subtitle"><%= @course[:subtitle]%></p>
    <ul class="course_card__items">
      <li class="course_card__item">
        <%= @course[:duration]%> hs
      </li>
      <li class="course_card__item">
        Online <%#= @course[:country]%>
      </li>
      <%if @course[:certified]%>
        <li class="course_card__item">
          Certificado
        </li>
      <%end%>
    </ul>
    <a href="#" class="btn btn-primary">Más Info</a>
  </div>
</div>
