<div class="card course-card" style="width: 18rem;">
  <div class="course-card__image-container">
    <img src="https://www.scrumalliance.org/_scrum/images/badges300x300/active/SA_badge_csd.png" class="card-img-top course-card__image" alt="...">
    <div class="course-card__flags">
      <div>ABIERTO</div>
      <div>IN COMPANY</div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title course-card__title"><%= @course[:title]%></h5>
    <p class="card-text course-card__subtitle"><%= @course[:subtitle]%></p>
    <ul class="course-card__items">
      <li class="course-card__item">
        <i class="fa fa-clock-o"></i>
        <%= @course[:duration]%> hs
      </li>
      <li class="course-card__item">
        <i class="fa fa-rss"></i>
        Online <%#= @course[:country]%>
      </li>
      <%if @course[:certified]%>
        <li class="course-card__item">
          <i class="fa fa-certificate"></i>
          Certificado
        </li>
      <%end%>
    </ul>
    <div class="text-center mt-4">
      <a href="#" class="btn btn-secondary">Más Info</a>
    </div>

  </div>
</div>
