<% if flash[:notice] || flash[:error] || flash[:success] || flash[:warning] %>
  <div class="container" style="margin-top: 100px; margin-bottom: 20px;">
    <% flash.each do |type, message| %>
      <%
        # Map flash types to Bootstrap alert classes
        alert_type = case type.to_s
          when 'notice', 'success' then 'success'
          when 'error', 'danger' then 'danger'
          when 'warning' then 'warning'
          when 'info' then 'info'
          else 'info'
        end
      %>
      <div class="alert alert-<%= alert_type %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>
