<%flash.each do |type, msg| %>
  <div class="row">
    <br>
    <div class="col-md-12 alert alert-danger">
      <%= 'error' + msg%>
    </div>
  </div>
<%end %>
<%if session[:error_msg].to_s != ''%>
  <div class="row">
    <br>
    <div class="col-md-12 alert alert-danger">
      <%= session[:error_msg]%>
    </div>
  </div>
<% session[:error_msg] = nil
end%>
