<section id="hero" class="hero generic-hero">
  <h1 class="mb-5"><%= title %></h1>
  <p><%= subtitle %></p>
  <img src="/app/img/view_figures/red_circle3.svg" class="desktop_figure generic-hero__red-circle" />
  <img src="/app/img/view_figures/yellow_bean.svg" class="desktop_figure generic-hero__yellow-bean" />

</section>
