<button
  type="button"
  id="mail-modal-button"
  class="floating-button mail-button"
  data-bs-toggle="modal"
  data-bs-target="#mail-modal">
  <img class="" src="/app/img/icons/Envelope.svg" />
</button>


