<button
  type="button"
  id="mail-modal-button"
  class="floating-button mail-button modal-opener"
  data-bs-toggle="modal"
  data-bs-target="#mail-modal"
  onclick="setupDownloadForm(null)"
  aria-label="<%=t('popup_forms.email.button')%>">
  <img class="" src="/app/img/icons/Envelope.svg" alt="" loading="lazy" width="48px" height="48px"/>
</button>
