<% if (session[:locale] == "en")
    lang_id = 'change_to_es_top'
    lang_url = '/es/'
    lang_text = 'ESPAÑOL'
  else
    lang_id = 'change_to_en_top'
    lang_url = '/en/'
    lang_text = 'ENGLISH'
  end
%>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a id="logo" class="navbar-brand a" href="/<%=session[:locale]%>">
      <img src="/app/img/logo.png" alt="Kleer" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">AGILIDAD ORGANIZACIONAL</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CURSOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">NUESTROS CURSOS</a></li>
            <li><a class="dropdown-item" href="#">ACADEMIA ONLINE</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CLIENTES</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PUBLICAMOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">RECURSOS Y MATERIALES</a></li>
            <li><a class="dropdown-item" href="#">BLOG Y VIDEOS</a></li>
            <li><a class="dropdown-item" href="#">LIBROS</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SOMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ENGLISH</a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="social-media">
          <ul class="list-unstyled list-inline font-family-alt no-letter-spacing text-extra-large">
            <li class="list-inline-item"><i class="fa fa-linkedin"></i></li>
            <li class="list-inline-item"><i class="fa fa-twitter"></i></li>
            <li class="list-inline-item"><i class="fa fa-youtube"></i></li>
            <li class="list-inline-item"><i class="fa fa-instagram"></i></li>
            <li class="list-inline-item"><i class="fa fa-facebook"></i></li>
          </ul>
<!--          <span class="display-inline-block font-family-alt text-large email"><a class="lower" href="mailto:hola@kleer.la">hola@kleer.la</a></span>-->
        </div>

      </form>
    </div>
  </div>
</nav>
