<div class="modal fade" id="mail-modal" tabindex="-1" aria-labelledby="mail-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="modal-title"><%= t('contact-us-form.title') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-mail-body">
        <%= erb :'component/_form_contact' %>
      </div>
    </div>
  </div>
</div>
