  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Suscríbete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= erb :'component/forms/_newsletter' %>
<!--          <iframe class="embed-responsive-item" src="https://kleer.us1.list-manage.com/subscribe?u=98726a706d87424c18b69e332&id=de82c19d8f" allowfullscreen></iframe>-->
        </div>
      </div>
    </div>
  </div>