<div class="modal fade" id="incompany-quote-modal" tabindex="-1" aria-labelledby="incompany-quote-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="modal-title-incompany"><%= t('incompany_quote_form.title') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-incompany-body">
        <%= erb :'component/_form_incompany_quote' %>
      </div>
    </div>
  </div>
</div>
