<div class="pager ms-auto me-auto">
  <button
    onclick=""
    class="button"
  >
    <img
      src="/app/img/icons/arrow.svg"
      class="left-arrow"/>
  </button>

  prueba

  <button
    onclick=""
    class="button"
  >
    <img
      src="/app/img/icons/arrow.svg"
      class="right-arrow"
      />
  </button>
</div>
