<div class="pager ms-auto me-auto">
  <button
    onclick="previousPage()"
    class="button prev-button"
  >
    <img
      src="/app/img/icons/arrow.svg"
      class="left-arrow"/>
  </button>
  <p class="pager-text">
  </p>
  <button
    onclick="nextPage()"
    class="button next-button"
  >
    <img
      src="/app/img/icons/arrow.svg"
      class="right-arrow"
      />
  </button>
</div>
