<%
  social_media = t('generals.social_media.options')
%>
<div class="social-media">
  <ul class="social-media__list">
    <% social_media.each do |item| %>
      <li class="list-inline-item"><a href="<%= item[:url] %>"><img class="icon-social" src="<%= item[:image] %>"/></a></li>
    <% end %>
  </ul>
</div>
