<section id="hero" class="generic-hero-a" <%= "style='margin-top: 160px'" if defined?(extra_promo) %>>
  <div class="text">
    <h1 class="mb-5"><%= title %></h1>
    <p><%= subtitle %></p>
  </div>

</section>
