<section id="hero" class="generic-hero-a" <%= "style='margin-top: 160px'" if defined?(extra_promo) %>>
  <div class="text">
    <h1 class="mb-5"><%= title %></h1>
    <p><%= subtitle %></p>
  </div>

  <img
    class="desktop_figure skyblue-semicircle"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/skyblue_semicircle.svg">
  <img
    class="desktop_figure rustic-circle"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_circle2.svg"/>
  <img
    class="desktop_figure yellow-oval"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_oval2.svg"/>
  <img
    class="desktop_figure green-worm"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_worm.svg"/>
  <img
    class="desktop_figure red-bean"
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_bean.svg"/>
</section>
