@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");
.item,
.active {
  height: 100%; }

.hero__carousel {
  height: 70vh; }

.carousel-inner {
  height: 100%; }

.hero__carousel-item {
  background-color: #8B8888; }

.carousel-caption {
  padding-bottom: 50px;
  text-shadow: none;
  text-align: left;
  right: auto; }
  .carousel-caption .text-vertical {
    margin: 30px 0 0 50px; }

#promotion {
  margin-top: 70px; }

.promotion__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px; }

.promotion__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px; }

#client-carousel {
  margin-top: 180px; }

.client-carousel__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center; }

#last-courses {
  background-color: #D9D9D9;
  visibility: visible; }

.last-courses__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px; }

#mobile-carousel {
  visibility: hidden;
  height: 0; }

@media screen and (max-width: 420px) {
  #last-courses {
    visibility: hidden;
    height: 0; }

  #mobile-carousel {
    visibility: visible;
    height: auto; } }
#contact-us {
  margin-top: 50px;
  margin-bottom: 50px; }

.contact__info {
  background-color: #8B8888;
  border-radius: 30px;
  height: 664px;
  padding: 50px; }

.contact__form {
  height: 664px;
  padding: 50px; }

.contact-country-button {
  font-family: 'Mali';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  background-color: #D9D9D9; }

#newsletter-subscription {
  background-color: #D9D9D9;
  height: 250px; }

/* Global */
html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%; }

body {
  font-family: 'Raleway', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

img {
  max-width: 100%; }

.navbar-brand {
  width: 140px;
  height: 50px; }
  .navbar-brand img {
    width: 100%; }

.navbar {
  border: none;
  background: #D9D9D9 !important;
  min-height: 100px !important; }

.navbar-fixed-top {
  border-width: 0;
  z-index: 999; }

.navbar-default .navbar-nav > li > a:hover {
  color: #337480;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.dropdown-menu {
  border: none;
  padding: 0; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > .dropdown-menu li:first-child a:hover {
  border-radius: 4px 4px 0 0; }

.dropdown-menu > li > a {
  color: #fff;
  padding: 5px 20px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:hover:after {
  color: #337480;
  border-left-color: #337480; }

.dropdown-menu > li:last-child > a:hover {
  border-radius: 0 0 4px 4px; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }

.dropdown-submenu .pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.root:hover > .dropdown-menu {
  display: block; }

.navbar-nav > li > .dropdown-menu {
  background-color: #7bcaea; }

.dropdown-submenu > .dropdown-menu {
  background-color: #7bcaea; }

.social-icons-desktop {
  color: #fff;
  font-size: 16px; }
  .social-icons-desktop:hover {
    color: #337480; }

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.my-float {
  margin-top: 16px; }

/* Footer */
footer {
  padding: 42px 0 0 0;
  /*height: 560px;*/
  overflow: visible;
  background: #8B8888; }

footer-small .text-muted, footer .text-muted {
  padding-left: 0;
  color: #fff; }

footer-small .text-muted li, footer .text-muted li {
  list-style: none;
  display: inline-block;
  font-size: 12px; }

@media (max-width: 660px) {
  footer-small {
    height: auto; }

  footer-small .text-muted li, footer .text-muted li {
    display: block;
    margin-bottom: 5px; }

  footer-small .text-muted li span, footer .text-muted li span {
    display: none; } }
footer .nav-tabs li a {
  background: #e13f4a;
  padding: 2px 10px;
  color: #fff; }

footer .nav-tabs li a:hover {
  background: #b7333c;
  border: none; }

footer .nav-tabs > li {
  margin-bottom: 8px; }

.mb-50 {
  margin-bottom: 50px; }

.list-inline > li {
  padding: 0px !important; }

.footer-bottom {
  background: #141414;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer-bottom a {
    color: #fff; }

.course-card {
  width: 100% !important;
  padding: 15px; }

.course-card__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px; }

.course-card__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  min-height: 100px; }

.course-card__image-container {
  position: relative;
  display: inline-block;
  text-align: center;
  min-height: 180px; }

.course-card__image {
  max-height: 300px;
  width: auto;
  border: 1px solid red; }

.course-card__flags {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: end; }
  .course-card__flags div {
    border-radius: 100px;
    background-color: #D9D9D9;
    height: 35px;
    width: 45%;
    margin-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 60%;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }

.course-card__items {
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.course-card__item {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px; }

/*# sourceMappingURL=index.css.map */
