<form>
  <div class="row">
    <div class="mb-3 col-xs-12 col-md-6">
      <label for="exampleInputEmail1" class="form-label">Tu nombre</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-xs-12 col-md-6">
      <label for="exampleInputEmail1" class="form-label">Tu apellido</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-xs-12 col-md-6">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 col-xs-12 col-md-6">
      <label for="exampleInputEmail1" class="form-label">Número de teléfono</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Subject de tu consulta</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Mensaje</label>
    <div id="emailHelp" class="form-text">¡Contános como podemos ayudarte!</div>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
<!--  <button type="submit" class="btn btn-primary">Submit</button>-->
</form>
