<%
title = 
description =
cta_text = 
academia_data = section_data(@page, 'academia', { title: t('home.academia.title'), content:  t('home.academia.description'), cta_text: t('home.academia.cta')})
title = academia_data[:title]
description = academia_data[:content]
cta_text = academia_data[:cta_text]

if title.to_s != ''
%>
<section id="academia" class="mb-4">
  <div class="container academia-banner">
    <div class="row align-items-center">
      <div class="col-lg-3 academia__img-container">
        <a href="https://academia.kleer.la" rel="noopener noreferrer" class="academia__link">
          <picture>
            <source srcset="/app/img/logos/logo-academia.webp" type="image/webp"/>
            <img
              src="/app/img/logos/logo-academia.png"
              class="academia__img"
              alt="Academia Kleer"
            />
          </picture>
        </a>
      </div>
      <div class="col-lg-9 academia__text">
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-center">
          <div class="flex-grow-1">
            <h2 class="academia__title"><%= title %></h2>
            <p><%= description %></p>
          </div>
          <a id="explore-courses" class="my-primary-button text-center p-2 mt-3 mt-lg-0" href="https://academia.kleer.la" rel="noopener noreferrer">
            <%= cta_text%>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%end%>