<%
  contact_countries = [
    {name: 'Global'},
    {name: 'Argentina'},
    {name: 'Bolivia'},
    {name: 'Colombia'},
    {name: 'Uruguay'},
    {name: 'USA'}
  ]
%>

<section id="contact-us" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 contact__info">
      <h2>Estamos para ayudarte</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur deleniti deserunt, distinctio et expedita illo ipsum, laborum maiores, nulla pariatur possimus quas qui repudiandae sit soluta sunt tempore tenetur.
      </p>
      <div class="row">
        <%contact_countries.each do |country|%>
          <div class=" p-1 col-<%=12 / contact_countries.length %>">
            <div class="contact-country-button text-center">
              <%=country[:name] %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mt-4">
        <ul>
          <li>telefono</li>
          <li>info@kleer.la</li>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-md-7 contact__form">
      <%=erb :'home/_contact_us-form' %>
    </div>
  </div>
</section>
