<section id="contact-us" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5 contact__info">
      <h2>Estamos para ayudarte</h2>
    </div>
    <div class="col-xs-12 col-md-7 contact__form">
      <%=erb :'home/_contact_us-form' %>
    </div>
  </div>
</section>
