<section id="hero" class="hero generic-hero bg-white">
<div class="flex-container">
  <div class="row">
    <div class="col-md-6">
      <img
        src="/img/personajes/404.svg"
        loading="lazy"
        alt="decorative figure"
        />
    </div>
    <div class="col-md-6">
      <h1>Error 404</h1>
      <h2><%=t("page_not_found")%></h2>
    </div>
  </div>
</div>
</section>
