<section id="hero" class="hero generic-hero bg-white">
<div class="flex-container">
  <div class="row">
    <div class="col">
      <img src="/img/personajes/404.svg"/>
    </div>
    <div class="col">
      <div class="align-middle">
        <h1>Error 404</h1>
        <h2><%=t("page_not_found")%></h2>
      </div>
    </div>
  </div>
</div>
</section>
