<%#TODO: remove%>
  <div class="container text-center center-block">
    <h4 class="mb-4">
      <%= t('home.home_newsletter.title') %>
    </h4>
    <div class="btn-center-container">
      <button class="btn my-primary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%= t('home.home_newsletter.button.title') %>
      </button>
    </div>

  </div>
