<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">
    <h4 class="mb-4">
      <%= t('home2022.home_newsletter.title') %>
    </h4>
    <button class="btn my-primary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <%= t('home2022.home_newsletter.button.title') %>
    </button>
  </div>

<!--  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-xl">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="container">-->
<!--            <div class="row">-->
<!--              <div class="col-4">-->
<!--                <h3>¡Entérate de nuestras novedades mensualmente!</h3>-->
<!--                <p>Al llenar este formato te suscribes a la lista de distribución de Kleer.</p>-->
<!--                <p>Prometemos que cuidaremos estos datos como si fueran neustros. Solo serán utiliazados para enviarte novedades sobre el mundo ágil, nuestros servicios y eventos de interés.</p>-->
<!--              </div>-->
<!--              <div class="col-8">-->
<!--                <div class="container">-->
<!--                  <div class="row">-->
<!--                    <div class="col-6">-->
<!--                      <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                      <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="row">-->
<!--                    <div class="col-6">-->
<!--                      <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    </div>-->
<!--                    <div class="col-6">-->
<!--                      <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="container mt-4">-->
<!--                    <div class="row">-->
<!--                      <h4>Danos tu OK para suscribirte</h4>-->
<!--                      <div class="form-check">-->
<!--                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
<!--                        <label class="form-check-label" for="flexCheckDefault">-->
<!--                          Quiero recibir los correos de Kleer-->
<!--                        </label>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                      <p>Puedes darte de baja en cualquier momento haciendo click en el enlace al pie de la página de nuestros correos electrónicos. Para obtener información sobre nuestras prácticas de privacidad vista nuestro sitio web</p>-->
<!--                      <p>Antes de que te suscribas, tenemos que verificar que seas un humano.</p>-->
<!--                      <p>insertar captcha</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>-->
<!--          <button type="button" class="btn my-primary-button">Suscribirme</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</section>
