<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">

    <img src="/app/img/view_figures/rustic_circle.svg" class="desktop_figure newsletter__rustic-circle"/>
    <img src="/app/img/view_figures/green_circle.svg" class="desktop_figure newsletter__green-circle"/>

    <h4 class="mb-4">
      <%= t('home2022.home_newsletter.title') %>
    </h4>
    <div class="btn-center-container">
      <button class="btn my-primary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%= t('home2022.home_newsletter.button.title') %>
      </button>
    </div>

  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ratio ratio-16x9">
          <iframe class="embed-responsive-item" src="https://kleer.us1.list-manage.com/subscribe?u=98726a706d87424c18b69e332&id=de82c19d8f" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
