<%#TODO: remove%>
  <div class="container text-center center-block">
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_circle.svg"
      class="desktop_figure newsletter__rustic-circle"
      loading="lazy"
      alt="decorative figure"
      />
    <img
      src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_circle.svg"
      class="desktop_figure newsletter__green-circle"
      loading="lazy"
      alt="decorative figure"
      />
    <h4 class="mb-4">
      <%= t('home.home_newsletter.title') %>
    </h4>
    <div class="btn-center-container">
      <button class="btn my-primary-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <%= t('home.home_newsletter.button.title') %>
      </button>
    </div>

  </div>
