<section id="newsletter-subscription" class="p-3 mt-4">
  <div class="container text-center">
    <h3>Enterate de todas las novedades del mundo ágil</h3>
    <button class="btn btn-secondary">¡Suscribete!</button>
  </div>
</section>
