<section id="promotion" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 ps-3 mb-3 promotion__text">
        <h3 class="promotion__title mb-5 mt-5">
          <%= t('home2022.home_business_agility.title') %>
        </h3>
        <%= t('home2022.home_business_agility.text') %>
      </div>
      <div class="col-xs-12 col-md-5 promotion_img-container">
      <picture>
        <source srcset="/app/img/business_a.webp" type="image/webp">
        <img src="/app/img/business_a.png" alt="Agilidad organizacional imagen"/>
      </picture>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-lg-2 col-md-3">
          <a class="btn my-primary-button" href="/agilidad-organizacional">
            <%= t('home2022.home_business_agility.buttons.more.text') %>
          </a>
        </div>
        <div class="col-6 col-lg-3 col-md-3">
          <a class="btn my-secondary-button" href="mailto: info@kleer.la">
            <%= t('home2022.home_business_agility.buttons.questions.text') %>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
