<section id="promotion" class="p-3">
  <div class="container">
    <h3 class="promotion__title mb-5 mt-5">AGILIDAD ORGANIZACIONAL</h3>
    <div class="row">
      <div class="col-xs-12 col-md-7 ps-3 mb-3 promotion__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dicta dignissimos dolorem eius eos eum
          impedit iure quam quo reprehenderit sint, voluptatibus! Accusamus, assumenda beatae commodi facere hic
          molestias provident.
        </p>
        <p>Alias at autem, consectetur consequatur doloremque ea earum enim eum itaque laborum nemo non numquam
          obcaecati odio provident quam quos tempora tenetur unde voluptas? Delectus dignissimos excepturi facilis
          nesciunt quaerat!
        </p>
      </div>
      <div class="col-xs-12 col-md-5">
        <img src="..." alt="..."/>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-2">
          <button class="btn btn-secondary">¡Conoce más!</button>
        </div>
        <div class="col-6 col-md-3">
          <button class="btn btn-secondary">¡Tienes alguna duda!</button>
        </div>
      </div>
    </div>

  </div>
</section>
