<%
  events = @events.select{|e| not e.date.to_s == ''}
  names = events.map{|e| e.event_type.name}

  names = names.uniq

  title = t('home.home_courses.title')

  if !@page&.sections.nil? && !@page&.sections['agenda'].nil?
    title = @page.sections['agenda']['title']
    #description = @page.sections['agenda']['content']
  end
%>
<section id="homepage-agenda" class="container pt-5">
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center m-4 last-courses__title">
        <%= title%>
      </h2>
    </div>
  </div>
  <div id="show-courses-list" class="mb-4">
    <% events.each do |event| %>
      <div id="<%=event.event_type.name%>-item">
        <%= erb :'home/_schedule_item', locals: {event: event, with_name: true}%>
      </div>
    <% end %>
  </div>
</div>
</section>