<section id="training-hero" class="hero">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero__text training-hero__text">
          <h1><%= t("catalog.title") %></h1>
          <p><%= @markdown_renderer.render(t("catalog.subtitle")) %></p>
          <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/posters/bannercatalogo.png" />
      </div>
      <div class="col-md-6 hero__img-container">
        <img
          src="/img/training/juli.png"
          class="hero__img" alt="Catalogo de cursos"
          />
      </div>
    </div>
  </div>
<!--  desktop figures-->
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_bean.svg"
    class="desktop_figure training-hero_green_bean"
    alt="decorative figure"
    />
<!--  mobile figures-->
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_middle_circle.svg"
    class="mobile_figure training-hero_yellow-middle-circle"
    alt="decorative figure"
    />
  <img
    src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_sigsac.svg"
    class="mobile_figure training-hero__rustic-sigsac"
    alt="decorative figure"
    />

</section>
