<%
  courses = []
  @categories.each{|e|
    e.event_types.each{|course|
      courses.push(
      {
        title: course.name, duration: course.duration, subtitle: course.subtitle,
        cover: course.cover, uri_path: course.uri_path, open: false, category: e.name,
        country: 'OL', certified: (2 if course.is_sa_cert).to_i +
        (1 if course.is_kleer_cert).to_i,
      })
    }
  }

%>

<section id="courses" class="p-5 mt-4">
  <div class='container'>
    <h4 class="text-center m-4 last-courses__tittle">
      Capacitación personal y empresarial en agilidad
    </h4>
    <div class="courses-filters">
      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckDefault">Abiertos</label>
        <input class="form-check-input switch" type="checkbox" id="flexSwitchCheckDefault">
      </div>
      <button class="tag">Categorias</button>
      <button class="tag">Categorias</button>
      <button class="tag">Categorias</button>
      <button class="tag">Categorias</button>
      <button class="tag">Categorias</button>
    </div>
    <div class='row mt-5' id="courses-container">
      <% courses.each do |course|
        @course = course
      %>
        <div class='col-3 p-2' id="<%= "#{course[:category]}--#{course[:title]}"%>">
          <%= erb :'component/_course_card' %>
        </div>
      <% end%>
    </div>
<!--    <div class="btn-center-container mt-5">-->
<!--      <a class="btn my-primary-button">-->
        <%#= t('home2022.home_courses.button.title') %>
<!--      </a>-->
<!--    </div>-->
  </div>
</section>

<script>
  const container = document.getElementById('courses-container')
  // console.log(container.children)
</script>

