<section id="training-hero" class="hero">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero__text training-hero__text">
          <h1><%= t("courses_page.title") %></h1>
          <p><%= t("courses_page.subtitle") %></p>
      </div>
      <div class="col-md-6 hero__img-container">
        <img src="/img/training/juli.png" class="hero__img" alt="Catalogo de cursos"/>
      </div>
    </div>
  </div>
<!--  desktop figures-->
  <img src="/app/img/view_figures/green_bean.svg" class="desktop_figure training-hero_green_bean" />
<!--  mobile figures-->
  <img src="/app/img/view_figures/yellow_middle_circle.svg" class="mobile_figure training-hero_yellow-middle-circle" />
  <img src="/app/img/view_figures/rustic_sigsac.svg" class="mobile_figure training-hero_rustic-sigsac" />

</section>
