<section id="training-hero" class="hero">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero__text training-hero__text">
        <div>
          <h1>Catálogo de cursos</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet asperiores aspernatur beatae culpa dolorem ea et explicabo illum in incidunt perferendis porro, qui sed sunt temporibus tenetur totam.</p>
        </div>
        <a class="my-primary-button">Ver agenda</a>
      </div>
      <div class="col-md-6 hero__img-container">
        <img src="/img/training/juli.png" class="hero__img" alt="Catalogo de cursos"/>
      </div>
    </div>
  </div>
  <img src="/app/img/view_figures/green_bean.svg" class="desktop_figure training-hero_green_bean" />
</section>
