<section id="training-hero" class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Calendario de cursos</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet asperiores aspernatur beatae culpa dolorem ea et explicabo illum in incidunt perferendis porro, qui sed sunt temporibus tenetur totam.</p>
        <a class="my-primary-button">Ver agenda</a>
      </div>
      <div>
        <img src="" alt=""/>
      </div>
    </div>
  </div>
</section>
