<section id="training-info">
  <div class="container training-info__container">
    <h4 class="text-center mb-5">¿Cómo brindamos nuestros cursos?</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="training-info__subcontainer">
          <h5 >In Company</h5>
          <ul>
            <li>lorem ipsum....</li>
            <li>lorem ipsum....</li>
            <li>lorem ipsum....</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 border-start border-end">
        <div class="training-info__subcontainer">
          <h5>Abiertos</h5>
          <ul>
            <li>lorem ipsum....</li>
            <li>lorem ipsum....</li>
            <li>lorem ipsum....</li>
          </ul>
          <a class="my-primary-button training-info__redir-button">Ver Agenda</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="training-info__subcontainer">
          <h5>E-learning</h5>
          <ul>
            <li>lorem ipsum....</li>
            <li>lorem ipsum....</li>
            <li>lorem ipsum....</li>
          </ul>
          <a class="my-primary-button training-info__redir-button">Academia</a>
        </div>
      </div>
    </div>
  </div>
</section>
