<section id="landing-blog-authors">
  <% p @article.trainers_list %>
  <% unless @article.trainers_list&.empty? %>
    <h2><%=t("blog.landing.authors")%></h2>
    <div class="landing-blog-authors__container">
        <% @article.trainers_list.each do |trainer| %>
        <%= erb :'component/cards/_trainer_card', locals: {trainer: trainer} %>
        <% end %>
    </div>
  <% end %>
</section>
