<section id="landing-blog-authors">
  <h2>Los autores</h2>
  <div class="container course-trainers__container">
      <% @article.trainers_list.each do |trainer| %>
      <%= erb :'component/cards/_trainer_card', locals: {trainer: trainer} %>
      <% end %>
  </div>
</section>
