<section id="landing-blog-body">
  <%= erb :'blog/landing_blog/_content_table', locals: {titles: titles} %>
  <div class="blog__body">
    <%=body%>
    <%= erb :'blog/landing_blog/authors' %>
  </div>
</section>
