<section id="landing-blog-body">
  <%= erb :'blog/landing_blog/_content_table' %>
  <div class="blog__body up-body">
    <%=@markdown_renderer.render( @article.body )%>
    <%= erb :'blog/landing_blog/authors' %>
  </div>
</section>
