<section id="course-hero">
  <div class="row h-50">
    <div class="col-md-9 course-hero__text">
      <h1>Certificados</h1>
      <h2 class="hero-description">Consulta sobre un certificado emitido por Kleer</h2>
    </div>
  </div>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_oval.svg" class="course-hero__yellow-oval" />
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/red_bean.svg" class="course-hero__red-bean" />
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_worm.svg" class="course-hero__rustic-worm" />
</section>

<section class="p-5 mt-4">
  <div class="row">
    <div class="mb-3 col-xs-12">
      <object data="<%= image_url%>" type="application/pdf" width="100%" height="600">
        <p>It appears you don't have a PDF plugin for this browser.
           You can <a href="<%= image_url%>">click here to download the PDF file.</a></p>
    </object>
    </div>
  </div>
</section>
