<section class="certificates-form-container">
  <h1><%= t("certificate-form.title") %></h1>
  <h2 class=""><%= t("certificate-form.subtitle") %></h2>

  <div class="row">
    <div class="mb-3 col-xs-12">
      <object data="<%= image_url%>" type="application/pdf" width="100%" height="600">
        <p>It appears you don't have a PDF plugin for this browser.
           You can <a href="<%= image_url%>">click here to download the PDF file.</a></p>
    </object>
    </div>
  </div>
</section>
