<%=erb :'resources_page/hero' %>
<div class="container mainContent recursos">
  <div class="row">
    <div class="col-md-9 no-hpadding contenedor-main-izq">
      <%=erb :'resources_page/books' %>
      <%=erb :'resources_page/resources' %>
    </div>
    <div class="col-md-3">
      twitter
    </div>

  </div>
</div>

