<%
  @title = t("resources.title")
  @subtitle = t("resources.subtitle")
%>


<%=erb :'resources_page/hero' %>
<div class="container">
  <div class="row">
      <%=erb :'resources_page/resources' %>
  </div>
</div>

