<%=erb :'resources_page/hero' %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%#=erb :'resources_page/books' %>
      <%=erb :'resources_page/resources' %>
    </div>
    <div class="col-md-3">
      <%= erb :'component/_twitter_widget', :layout => false %>
    </div>

  </div>
</div>

