
<div class="container">
  <% if (session[:locale] == "es") %>
    <h4>Soñamos con un mundo en el que la información valiosa sea compartida por todos. Aquí, nuestro granito de arena.</h4>
  <% end %>

  <br/>
  &nbsp;
  <br/>
  <div class="row">
    <%
      @resources.each do |resource_loc|
        resource= resource_loc[session[:locale]]

        @id = resource['id']
        @image_cover = resource['cover']
        @landing = resource['landing']
        @title = resource['title']
        @description = resource['description']
        @authors = resource['authors']
        @translators = resource['translators']
        @comments = resource['comments']
        @fb_share = resource['share_fb']
        @tw_share = resource['share_tw']
        @li_share = resource['share_li']
    %>
      <div class="col-4">
        <%=erb :'component/_generic_card' %>
      </div>
    <%end%>
  </div>
</div>
