<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block contact__container">

    <h2 class="mb-4">
      <%=
        contact_text || "Contáctanos para llevar este servicio a tu organización."
      %>
    </h2>
    <div class="btn-center-container">
      <%= erb :'component/_contact_banner_button',
              locals: {
                style: "",
                text_button: button_text, style_class: 'btn my-primary-button',
                specific_id: ""
              }%>
    </div>
  </div>
</section>
