<div class="container p-3 search-box">
  <div class="row search-box__container">
    <div class="offset-lg-1 col-12 col-lg-7">
      <div class="input-group">
        <input
          class="form-control border"
          type="input"
          name="matchWord"
          oninput="filterByText(event)"
          value=""
          id="search-box__text-input" />
      </div>
    </div>
    <div class="offset-6 offset-md-9  offset-lg-0 col-lg-2">
      <button onclick="cleanAllFilters()" class="blue-link" >
        <%=t("blog.search.reset")%>
      </button>
    </div>
  </div>
</div>
