<% unless recommended.empty? %>
<div id="recommendedContent">
  <section class="mt-5 mb-5">
    <div class="container">
      <% subtitle = nil unless defined?(subtitle) %>
      <% unless title.nil? %>
        <h2 class="<%= 'mb-5 text-center' if subtitle.nil? %> common-subtitle"><%= title || t('recommended.title') %></h2>
      <% end %>
      <% unless subtitle.nil? %>
        <p><%= subtitle %></p>
      <% end %>
      <div class="row">
        <% recommended.each do |item| %>
          <div class="col-12 col-md-6 col-lg-3 mb-4">
            <%= erb :'component/cards/_recommended_card', locals: { item: item } %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
<% end %>