<%
  if @related_articles != [] and !@related_articles.nil? and session[:locale] == 'es'

    articles = @related_articles

%>

  <section id="related-articles" class="mt-5 mb-5">
    <div class="container">
      <h2 class="mb-5 text-center common-subtitle">Artículos relacionados</h2>
      <div class="row">
        <% articles.each  do |article| %>
          <div class="col-4">
            <%= erb :'component/cards/_article_card', locals: {article: article }  %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section id="mobile-related-articles">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <%
          articles[0].active = true
          articles.each do |article|
        %>
          <div class="carousel-item p-4 <%= article.active ? 'active' : '' %>">
            <%= erb :'component/cards/_article_card' , locals: {article: article }  %>
          </div>
        <%end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
<%
  end
%>
