<div class="blog-feed__search-box container  p-3">
  <div class="row search-box__container">
    <div class="col-12">
      <div class="dropdown mb-2">
        <a class="btn dropdown-toggle ps-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categorías
        </a>

        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              href="<%="/#{session[:locale]}/blog2022?category=Desarrollo%20Profesional" %>">
              Desarrollo Profesional
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="<%="/#{session[:locale]}/blog2022?category=Equipos%20y%20Organizaciones" %>">
              Equipos y Organizaciones
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="<%="/#{session[:locale]}/blog2022?category=Diseño%20de%20Productos" %>">
              Diseño de Productos
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              href="<%="/#{session[:locale]}/blog2022?category=Desarrollo%20de%20Software" %>">
              Desarrollo de Software
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input class="form-control border-end-0 border" type="search" value="search" id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary bg-white border-start-0 border ms-n5" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
