
  <div id="blog-feed-list" class="container mt-5 mb-5">
    <% if @selected and @category.nil? and @match.nil? and @all.nil?%>
      <h2 class="subtitle">Destacados del mes</h2>
      <div class="row">
        <% @selected.each do |article| %>
          <div class="col-md-4">
            <%= erb :'component/cards/_blog_card', locals: {article: article} %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @category %>
      <h2 class="subtitle">Categoría: <%= @category %></h2>
    <% end %>

    <%if @category.nil? and @match.nil? %>
      <h2 class="mt-4 mb-4 subtitle">Lo más nuevo</h2>
    <% end %>


      <%if @articles.nil? || @articles == [] %>
        <h2>No se encontraron resultados</h2>
      <% else %>
      <div class="row mb-4">
        <div class="offset-lg-10 col-lg-2">
          <%= erb :'component/_pager',
                  locals: {intern_text: "#{(@page_number * @articles.length) + 1}-#{(@page_number * @articles.length) + @articles.length } de #{@total}",
                           left_action: "setParam('page','#{@page_number-1}')",
                           right_action:"setParam('page','#{@page_number+1}')",
                           is_link: false} %>
        </div>
      </div>
      <div class="row">
        <%@articles.each do |article|%>
          <div class="col-md-4">
              <%= erb :'component/cards/_blog_card', locals: {article: article} %>
          </div>
        <%end%>
      </div>

    <%end%>
    <div class="btn-center-container">
      <a class="btn my-primary-button">Ver todos</a>
    </div>
  </div>
</div>

<script>
    let params = decodeURI(window.location.search)
        .replace('?', '')
        .split('&')
        .map(param => param.split('='))
        .reduce((values, [ key, value ]) => {
            values[ key ] = value
            return values
        }, {})


    const setParam = (param, value) => {
        params = {
            ...params,
            [param]: value
        }

        if(param == 'category' || param == 'match'){
            params = {
                ...params,
                all: true,
                page: 0
            }
        }

        goToFilterLink()
    }

    const goToFilterLink = () => {
        const link = Object.keys(params).reduce((ac ,key) =>{
            if(key === '' || typeof(key) === null){
                return ac
            }else{
                return ac +`&${key}=${params[key]}`
            }
        }, '/blog2022?')

        window.location.href = link
    }

    const onChangeMatchWord = (e) => {
        console.log(e)
        params = {
            ...params,
            match: e.value
        }
    }


</script>
