<section id="blog-feed-hero" class="hero-medium mb-5">
  <h1>Blog</h1>
  <h2 class="hero__subtitle mt-3">
    Descubre más sobre el fascinante mundo de la agilidad organizacional
  </h2>
  <%= erb :'blog/_search_box' %>
</section>
