<section id="blog-hero">
<div class="container">
  <div class="row">
    <h1><%= @where%> / <span><%= t("blog.home") %></span></h1>
  </div>
</div>
</section><div class="container">
  <div class="row">
      <%=erb :'blog/list' %>
  </div>
</div>

