<%#content_for :header do %>
<%#end%>

<%= erb :'blog/hero' %>
  <div class="container">
    <div class="row">
      <div id="blog-feed-list" class="container mt-5 mb-5">
        <%= erb :'blog/articles_reactive' %>
      </div>
    </div>
  </div>
