<section style="margin-top: 150px">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-4">
        <img
          src="/img/personajes/error500.png"
          loading="lazy"
          alt="decorative figure"
          style="height: 500px"
          />
      </div>
      <div class="col-md-6">
        <h1><%= t("internal_error.title") %></h1>
        <p><%=t("internal_error.text")%></p>
      </div>
    </div>
  </div>
</section>
