<% services = ["","","","",""] %>

<div
  class="card clickable-card area-card"
  data-toggle="collapse"
  data-target="#additionalContent"
  style="background-color: <%= area.primary_color %>"
>
  <div class="card-body">
    <div class="show-content row">
      <div class="col-5">
        <img src="" alt="icon"/>
        <h4>
          <%= area.name %>
        </h4>
      </div>
      <div class="col-7">
        <p>
          Nuestro servicio de Diseño Organizacional Ágil es una solución integral para mejorar tus resultados empresariales. Trabajamos en equipo con los líderes de tu organización, nos enfocamos en armonizar los diferentes componentes para lograr los objetivos estratégicos. Las intervenciones pueden cubrir: estructura, procesos, capacidades transversales y las prácticas de gestión de personas.
        </p>
        <p>
          Descubre cómo este enfoque puede fortalecer tu negocio y hacerlo más eficiente y adaptable en un entorno empresarial en constante cambio.
        </p>
      </div>
    </div>
    <div class="collapse extra-content" id="additionalContent">
      <div class="title">
        <h4>
          Aprende más de nuestros servicios de cambio organizacional
        </h4>
      </div>
      <div>
        <div class="row">
          <% services.each_with_index  do |service, index| %>
              <% if index%3 == 0%>
                </div>
                <div class="row">
              <% end %>
              <div class="col area-card-container">
                <%= erb :'services/components/_service_card', locals: {service: service} %>
              </div>
          <% end %>
        </div>
      </div>
      <div class="cta-container">
        <a class="my-secondary-button">
          Estas a un click
        </a>
      </div>

    </div>
  </div>
</div>

<script>
  const clickableCard = document.querySelector('.clickable-card');
  const additionalContent = document.querySelector('#additionalContent');


  clickableCard.addEventListener('click', function () {
      additionalContent.classList.toggle('collapse');

      if (!additionalContent.classList.contains('collapse')) {
          additionalContent.classList.add('show');
      }else {
          additionalContent.classList.remove('show');
      }
  });

</script>