<section id="areas" class="container">
  <div class="slogan-areas">
    <img src="/app/img/icons/magicpen.svg" alt="Áreas de trabajo" loading="lazy">
    <h2>
      Explora Nuestros Servicios de <b>Agilidad Organizacional</b>
    </h2>
    Encuentra soluciones que se alineen con los objetivos estratégicos de tu empresa. Nuestra propuesta incluye estructura organizacional, liderazgo, flujos de valor, gestión de producto y desarrollo de equipos.
  </div>

  <div class="area-list p-5">
    <% @areas.each do |area| %>
      <%= erb :'services/landing_page/_area_card', locals: {area: area} %>
    <% end %>
  </div>
</section>