<section id="areas" class="container">
  <div class="slogan">
    <h3>
      Aprende más sobre nuestros servicios de <b>Agile Product Management</b>
    </h3>
    Encuentra soluciones que se alineen con los objetivos estratégicos. Nuestra propuesta incluye estructura, liderazgo, flujos de valor, gestión de productos, entre otros.
    Explora nuestros servicios como parte de tu proceso de transformación.
  </div>
  <div class="area-list p-5">
    <% @areas.each do |area| %>
      <%= erb :'services/landing_page/_area_card', locals: {area: area} %>
    <% end %>
  </div>
</section>