<section id="landing-areas-hero">
  <div class="row hero-container">
    <div class="col-12 col-lg-7 hero-text">
      <h1>Transforma tu Empresa con Agilidad Organizacional</h1>
      <h2>Soluciones Integrales para Acelerar el Cambio Organizacional.</h2>
      <p>Acompañamos a nuestros clientes en cada etapa, con innovación y estrategia para alcanzar los objetivos empresariales.</p>
    </div>
    <div class="col-12 col-lg-5 hero-img">
      <img src="/app/img/services/product-hero.png" class="product-img"/>
      <img src="/app/img/services/facilitation-hero.png" class="facilitation-img" />
      <img src="/app/img/services/organitational-hero.png" class="org-img" />
      <img src="/app/img/services/teams-hero.png" class="teams-img" />
    </div>
  </div>
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/yellow_oval.svg" class="desktop_figure yellow-oval" />
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/blue_oval.svg" class="desktop_figure blue-oval" />
  <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_worm.svg" class="desktop_figure green-worm" />

</section>