<section id="landing-areas-hero">
  <div class="row hero-container">
    <div class="col-12 col-lg-7 hero-text">
      <h1><%= t('services.landing_page.hero.title_html') %></h1>
      <h2><%= t('services.landing_page.hero.subtitle') %></h2>
      <p><%= t('services.landing_page.hero.description') %></p>
    </div>
    <div class="col-12 col-lg-5 hero-img">
      <img src="/app/img/services/product-hero.webp" class="product-img"/>
      <img src="/app/img/services/facilitation-hero.webp" class="facilitation-img"/>
      <img src="/app/img/services/organitational-hero.webp" class="org-img"/>
      <img src="/app/img/services/teams-hero.webp" class="teams-img"/>
    </div>
  </div>
</section>