
<div class="container">
  <br/>
  <div class="row">
    <%
      @news.each do |news|
        @id = ''
        @image_cover = news.img
        @landing = news.url
        @title = news.title
        @description = news.description
        @authors = news.trainers.count > 0 ? news.trainers.join(', ') : nil
        @card_subtitle = "#{news.where} - #{news.event_date}"
    %>
      <div class="col-12 col-md-6 col-lg-4">
        <%=erb :'component/_generic_card' %>
      </div>
    <%end%>
  </div>
</div>
