
<div class="container">
  <br/>
  <div class="row">
    <%
      @news.each do |news|
        @id = ''
        @image_cover = news[:img]
        @landing = news[:url]
        @title = news[:title]
        @description = news[:text]
        @authors = nil
        @card_subtitle = news[:subtitle]
    %>
      <div class="col-4">
        <%=erb :'component/_generic_card' %>
      </div>
    <%end%>
  </div>
</div>
