<section>
  <h2>
    <%= service.name %>
  </h2>
  <p> lorem ipsum </p>
  <% if service.sub_services
    service.sub_services.each do |sub_service| %>

    <%= erb :'services/_subservice_item',
            locals: {name: sub_service["name"],
                     icon: sub_service["icon"],
                     summary: sub_service["summary"],
                     href: sub_service["name"].gsub(/( )/, '_').downcase!} %>
  <% end
     end
  %>
</section>