<section id="contact-section" class="mt-4">
  <div class="container text-center center-block">
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/rustic_circle.svg" class="desktop_figure newsletter__rustic-circle"/>
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_circle.svg" class="desktop_figure newsletter__green-circle"/>

    <p class="mb-4">
      <%= t('business-agility.contact.title') %>
    </p>
    <div class="btn-center-container">
      <%= erb :'component/_contact_banner_button',
              locals: {
                style: "",
                text_button: t('business-agility.contact.button.text'),
                style_class: 'btn my-primary-button'
              }%>
    </div>

  </div>
</section>
