<section id="services-hero">
  <div class="principal-container">
    <div>
      <h1 class="title"><%= t("services.title") %></h1>
      <h2 class="subtitle"><%= t("services.subtitle") %></h2>
    </div>
    <div class="image-container">
      <img src="/img/heros/bus_agility.png" class="principal-img" loading="lazy"/>
      <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/white_triangle.svg" class="desktop_figure businessa-hero__white-triangle" loading="lazy"/>
      <a href="#bussinesa-howto">
        <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/arrow_button.svg" class="desktop_figure down-button" loading="lazy"/>
      </a>
    </div>
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/blue_bean.svg" class="blue-bean" loading="lazy"/>
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/lines.svg" class="lines desktop_figure" loading="lazy"/>
    <img src="https://kleer-images.s3.sa-east-1.amazonaws.com/website-assets/green_worm.svg" class="green-worm" loading="lazy"/>
  </div>
</section>
