<section id="all-services" class="container">
  <h3>
    <%= t('business-agility.howto.title') %>
  </h3>
  <div class="mb-5 ms-3">
    <%= t("business-agility.howto.text") %>
  </div>

  <% @services.each do |service| %>
    <%= erb :'services/_service_info', locals: {service: service} %>
  <% end %>
</section>