<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">

    <h6 class="mb-4">
      <%= t('business-agility.contact.title') %>
    </h6>
    <div class="btn-center-container">
      <%= erb :'component/_contact_banner_button',  locals: {
        style: "",
        text_button: t('business-agility.contact.button.text'),
        style_class: 'btn my-primary-button',
        specific_id: ""
      }%>
    </div>

  </div>
</section>
