<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">
    <img src="<%= cdn('website-assets/rustic_circle.svg') %>" class="desktop_figure newsletter__rustic-circle" loading="lazy"/>
    <img src="<%= cdn('website-assets/green_circle.svg') %>" class="desktop_figure newsletter__green-circle" loading="lazy"/>

    <h6 class="mb-4">
      <%= t('business-agility.contact.title') %>
    </h6>
    <div class="btn-center-container">
      <%= erb :'component/_contact_banner_button',  locals: {
        style: "",
        text_button: t('business-agility.contact.button.text'),
        style_class: 'btn my-primary-button',
        specific_id: ""
      }%>
    </div>

  </div>
</section>
