<section id="newsletter-subscription" class="mt-4">
  <div class="container text-center center-block">

    <img src="/app/img/view_figures/rustic_circle.svg" class="desktop_figure newsletter__rustic-circle"/>
    <img src="/app/img/view_figures/green_circle.svg" class="desktop_figure newsletter__green-circle"/>

    <h6 class="mb-4">
      <%= t('business-agility.contact.title') %>
    </h6>
    <div class="btn-center-container">
      <a class="btn my-primary-button" href="<%= t('business-agility.contact.button.link') %>">
        <%= t('business-agility.contact.button.text')%>
      </a>
    </div>

  </div>
</section>
