<div class="container mt-5 mb-3">
  <h4><%= t('business-agility.experience.title') %></h4>
  <p class="row mt-4">
    <%= @markdown_renderer.render(t('business-agility.experience.text')) %>
  </p>
</div>