<%#=erb :'component/_generic_hero', locals: {title: 'agilidad organizacional', subtitle: 're agilidosos'} %>
<section id="businessa-hero">
  <div class="businessa-hero__container">
    <div>
      <h1 class="businessa-hero__title">Agilidad organizacional</h1>
      <p>Acompañamos a tu organización en el desafiante camino de la transformación ágil. Trabajamos sobre múltiples dimensiones para tener una visión holística  del cambio organizacional, desde la estructura, retos en el liderazgo, cambio cultural, hasta implementación de prácticas, herramientas, framework y mucho más.</p>
    </div>
    <div class="businessa-hero__img-container">
      <img src="/img/heros/bus_agility.png" class="principal-img" />
      <img src="/app/img/view_figures/white_triangle.svg" class="desktop_figure businessa-hero__white-triangle" />
      <a>
        <img src="/app/img/view_figures/arrow_button.svg" class="desktop_figure down-button" />
      </a>
    </div>

    <img src="/app/img/view_figures/blue_bean.svg" class="businessa-hero__blue-bean" />
    <img src="/app/img/view_figures/lines.svg" class="businessa-hero__lines" />
    <img src="/app/img/view_figures/green_worm.svg" class="businessa-hero__green-worm" />

  </div>
</section>
