
<section id="bussinesa-howto" class="container">
  <h4>
    ¿Cómo lo hacemos?
  </h4>
  <p>
    El proceso de cambio no es lineal y suele ser distinto para cada organización, en Kleer te acompañamos con el expertise qué nos dan más de 11 años de experiencia como pioneros de la agilidad en latinoamérica para diseñar contigo la estrategia de agilidad que se alinee con los retos qué persigues como empresa.
  </p>
  <p>
    Algunas de las actividades, productos o servicios que nos podemos encontrar en un proceso de cambio son:
  </p>
  <div class="row">
    <% t("business-agility.howto.items").each do |item| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <div class="howto__item p-4">
          <img src="<%= item[:img] %>" class="mb-3"/>
          <p><%= item[:text] %></p>
        </div>

      </div>
    <% end %>

  </div>
</section>
