
<section id="bussinesa-howto" class="container">
  <h4>
    ¿Cómo lo hacemos?
  </h4>
  <%= t("business-agility.howto.text") %>
  <div class="row">
    <% t("business-agility.howto.items").each do |item| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
        <%if item[:url].to_s != '' %>
          <a href="<%= item[:url]%>">
        <% end %>
          <div class="howto__item p-4">
            <img src="<%= item[:img] %>" class="mb-3"/>
            <p><%= item[:text] %></p>
          </div>
      <%if item[:url].to_s != '' %>
        </a>
      <% end %>
      </div>
    <% end %>
  </div>
</section>
