<div class="description" style="font-size: 1.25rem; line-height: 1.8;">
  <div class="row">
    <div class="col-12 col-md-7">
      <%= description%>
    </div>
    <div class="col-5 image-container">
      <img src="<%= side_image %>" alt="" loading="lazy"/>
    </div>
  </div>
</div>