  <div
    class="value_proposition"
    style="background-color: <%= back_color %>"
  >
    <div class="row">
      <div class="col-md-5 title">
        <img src="/app/img/icons/Ranking.svg" loading="lazy"/>
          <%= t("services.value_proposition.#{@is_training_program}")%>
      </div>
      <div class="col-md-7">
        <%= value_proposition%>
      </div>
    </div>
  </div>
