<section id="area" class="area-section" style="margin-top: 60px;">
  <div
    class="area-info"
    style="border: <%= service_area.primary_color %> 3px solid;"
  >
    <%= erb :'services/landing_area/_target', locals: {target: service_area.target, title: service_area.target_title}%>
    <%= erb :'services/landing_area/_value_proposition', locals: {value_proposition: service_area.value_proposition, back_color: service_area.secondary_color}%>
  </div>
</section>
