<div class="services-section">
  <div class="introduce">
    <img src="/app/img/icons/Glasses.svg" loading="lazy"/>
    <h3>
      <%= area.cta_message.gsub(/<[^>]*>/, '').strip %>
    </h3>
  </div>

  <div class="container">
    <div class="row">
      <% services.each do |service| %>
        <div class="col-md-6 mb-4">
          <%= erb :'services/components/_service_preview_card',
                  locals: {
                    service: service,
                    area_slug: area.slug,
                    primary_color: area.primary_color
                  } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
