<div class="services-section">
  <div class="introduce">
    <img src="/app/img/icons/Glasses.svg" loading="lazy"/>
    <p>
      <%= area.cta_message %>
    </p>
  </div>


  <% services.each  do |service| %>
    <%= erb :'services/landing_area/service_section/index', locals: {service: service}%>
  <% end %>
</div>

