<div class="services-section">
  <div class="introduce">
    <img src="/app/img/icons/Glasses.svg" loading="lazy"/>
    <p>
      <%= area.cta_message %>
    </p>
  </div>

  <div class="areas-container">
    <% services.each do |service| %>
      <%= erb :'services/components/_service_card',
              locals: {
                service: service,
                hover_color: area.primary_color,
                border_color: area.primary_color,
                border_hover_color: "white",
                id: area.id,
                area_slug: area.slug
              } %>
    <% end %>
  </div>
</div>
