on:
  push:
    branches: [ develop, master]
  #pull_request:
  #  branches: [ develop, master]

jobs:
  CI:
    runs-on: ubuntu-latest

    env:
      RECAPTCHA_SITE_KEY: '6Ld_iSIUAAAAAC2VRB5HPMSoEvQb4UGREvqbxGbQ' #${{ secrets.RECAPTCHA_SITE_KEY }}
      RECAPTCHA_SECRET_KEY: ${{ secrets.RECAPTCHA_SECRET_KEY }}

    steps:
      - uses: actions/checkout@v4
      - name: Test env
        run: echo $RECAPTCHA_SITE_KEY
      - name: Set up Ruby
        # automatic versioning https://github.com/ruby/setup-ruby#versioning):
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true
      - name: Install system dependencies
        run: |
         sudo apt-get update -qq
         sudo apt-get install -y build-essential pkg-config libcurl4-openssl-dev
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run: rspec
      - name: Run acceptance tests
        run: cucumber
      # - name: Coveralls
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
#    - name: Check rubycritic
#      run: rubycritic -f html --no-browser
    # - name: update index
    #   run: |
    #     cat > tmp/rubycritic/index.md <<EOL
    #     ---
    #       permalink: /overview.html
    #     ---
    #     EOL
    # - name: Deploy to Heroku
    #   if: success()
    #   uses: crazy-max/ghaction-github-pages@v2
    #   with:
    #     target_branch: gh-pages
    #     build_dir: tmp/rubycritic/
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#     - name: Discord notification
#       if: ${{ success() }}
#       uses: Ilshidur/action-discord@759f6ea4dc493b8bd1bb35ae7fbd7ae10fcea129
#       with:
#         args: 'The project {{ EVENT_PAYLOAD.repository.full_name }} looks ok!!.'
#     - name: The job has failed
#       if: ${{ failure() }}
#       uses: Ilshidur/action-discord@759f6ea4dc493b8bd1bb35ae7fbd7ae10fcea129
#       with:
#         args: 'UPS something fails in {{ EVENT_PAYLOAD.repository.full_name }}, please check the IC flow!.'
