on:
  push:
    branches: [ '*']

jobs:
  CI:
    runs-on: ubuntu-latest

    env:
      RECAPTCHA_SITE_KEY: '6Ld_iSIUAAAAAC2VRB5HPMSoEvQb4UGREvqbxGbQ'
      RECAPTCHA_SECRET_KEY: ${{ secrets.RECAPTCHA_SECRET_KEY }}

    steps:
      - uses: actions/checkout@v4
      - name: Install system dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y build-essential pkg-config libcurl4-openssl-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true
      - name: Run tests
        run: bundle exec rspec
      - name: Run acceptance tests
        run: bundle exec cucumber
